@model Telmexla.Servicios.DIME.Entity.ViewModelAdminUsuario
@{
    ViewBag.Title = "Accesos a Usuarios";
    ViewBag.Subtitle = "Administración";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["Administracion Usuarios"] != null)
{
    using (Html.BeginForm("AccesosUsuarios", "AdminUsuarios", FormMethod.Post, new { role = "form", onkeydown = "return event.keyCode!=13" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-9" style="width:100%; ">

                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li id="Li1" class="active" style="background-color: #dcdcdc; border-color:#c23321"><a href="#Datos_Usuario" style="background-color: transparent;" data-toggle="tab">Accesos y Roles</a></li>
                        <li id="Li2"><a style="background-color: transparent;" href="#Consulta_Usuario" data-toggle="tab" id="consultaUsuarioTab">Accesos y Roles Masivo</a></li>
                    </ul>
                    <div class="tab-content" style="padding-left:0; padding-top: 0">
                        <div class="active tab-pane" id="Datos_Usuario" style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px;">
                            <br />

                            <strong><i class="fa fa-chevron-circle-down"></i> Datos del Usuario en Holos:</strong>
                            @if (ViewBag.UsuarioExiste != null)
                        {
                        <label style="color:red">@ViewBag.UsuarioExiste</label>
                        }
                            @if (ViewBag.UsuarioNoHolos != null)
                        {
                        <label style="color:red">@ViewBag.UsuarioNoHolos</label>
                        }

                            <table>
                                <tr>
                                    <td width="200" style="padding:1px;">
                                        <small>Documento de identidad:  </small>
                                    </td>
                                    <td width="200" style="padding:1px;">
                                        <small>Nombre del Usuario:  </small>
                                    </td>
                                    <td width="200" style="padding:1px;">
                                        <small>Aliado:  </small>
                                    </td>
                                    <td width="200" style="padding:1px;">
                                        <small>Nombre Linea:  </small>
                                    </td>
                                    <td width="200" style="padding:1px;">
                                        <small>Usuario RR:  </small>
                                    </td>
                                    <td width="200" style="padding:1px;">
                                        <small>Usuario Agendamiento:  </small>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:1px;">
                                        @Html.TextBoxFor(m => m.UsuarioHolos.Cedula, new { @class = "form-control input-sm", id = "cedulaCreacion" })
                                    </td>
                                    <td style="padding:1px;">
                                        @Html.TextBoxFor(m => m.UsuarioHolos.Nombre, new
                               {
                                   @class = "form-control input-sm",
                                   Value = Model.UsuarioHolos.Nombre1 + " " + Model.UsuarioHolos.Nombre2 +
" " + Model.UsuarioHolos.Apellido1 + " " + Model.UsuarioHolos.Apellido2
   ,
                                   @readonly = "true"
                               })
                                    </td>
                                    <td style="padding:1px;">
                                        @Html.TextBoxFor(m => m.UsuarioHolos.Aliado, new { @class = "form-control input-sm", Value = Model.UsuarioHolos.Aliado, @readonly = "true", id="Aliado_Actu" })
                                    </td>
                                    <td style="padding:1px;">
                                        @Html.TextBoxFor(m => m.UsuarioHolos.NombreLinea, new { @class = "form-control input-sm", Value = Model.UsuarioHolos.NombreLinea, @readonly = "true" })
                                    </td>
                                    <td style="padding:1px;">
                                        @Html.TextBoxFor(m => m.UsuarioHolos.UsuarioRr, new { @class = "form-control input-sm", Value = Model.UsuarioHolos.UsuarioRr, @readonly = "true" })
                                    </td>
                                    <td style="padding:1px;">
                                        @Html.TextBoxFor(m => m.UsuarioHolos.UsuarioAgendamiento, new { @class = "form-control input-sm", Value = Model.UsuarioHolos.UsuarioAgendamiento, @readonly = "true" })
                                    </td>
                                </tr>
                                <tr>
                                    <td width="200" style="padding:1px;">
                                        <small>Usuario Gerencia:  </small>
                                    </td>
                                    <td width="200" style="padding:1px;">
                                        <small>Estado:  </small>
                                    </td>
                                    <td width="200" style="padding:1px;">
                                        <small>Canal:  </small>
                                    </td>
                                    <td width="200" style="padding:1px;">
                                        <small>Operación:  </small>
                                    </td>
                                    <td width="200" style="padding:1px;">
                                        <small>Grupo:  </small>
                                    </td>
                                    <td width="200" style="padding:1px;">
                                        <small>Cargo:  </small>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:1px;">
                                        @Html.TextBoxFor(m => m.UsuarioHolos.UsuarioGerencia, new { @class = "form-control input-sm", Value = Model.UsuarioHolos.UsuarioGerencia, @readonly = "true" })
                                    </td>
                                    <td style="padding:1px;">
                                        @Html.TextBoxFor(m => m.UsuarioHolos.Estado, new { @class = "form-control input-sm", Value = Model.UsuarioHolos.Estado, @readonly = "true" })
                                    </td>
                                    <td style="padding:1px;">
                                        @Html.TextBoxFor(m => m.UsuarioHolos.Canal, new { @class = "form-control input-sm", Value = Model.UsuarioHolos.Canal, @readonly = "true" })
                                    </td>
                                    <td style="padding:1px;">
                                        @Html.TextBoxFor(m => m.UsuarioHolos.Operacion, new { @class = "form-control input-sm", Value = Model.UsuarioHolos.Operacion, @readonly = "true" })
                                    </td>
                                    <td style="padding:1px;">
                                        @Html.TextBoxFor(m => m.UsuarioHolos.Grupo, new { @class = "form-control input-sm", Value = Model.UsuarioHolos.Grupo, @readonly = "true" })
                                    </td>
                                    <td style="padding:1px;">
                                        @Html.TextBoxFor(m => m.UsuarioHolos.Cargo, new { @class = "form-control input-sm", Value = Model.UsuarioHolos.Cargo, @readonly = "true" })
                                    </td>
                                </tr>
                                <tr>
                                    <td width="200" style="padding:1px;">
                                        <small>Segmento:  </small>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:1px;">
                                        @Html.TextBoxFor(m => m.UsuarioHolos.Segmento, new { @class = "form-control input-sm", Value = Model.UsuarioHolos.Segmento, @readonly = "true" })
                                    </td>
                                </tr>
                            </table>
                            <br />
                            <br />
                            <strong><i class="fa fa-chevron-circle-down"></i> Perfil y Nombre de Línea a Otorgar:</strong>
                            <table>
                                <tr>
                                    <td width="200" style="padding:1px;">
                                        <small>Perfil:  </small>
                                    </td>
                                    <td width="200" style="padding:1px;">
                                        <small>Nombre Linea:  </small>
                                    </td>
                                    <td width="200" style="padding:1px;">
                                        <small>Contraseña: </small>
                                    </td>
                                    <td width="200" style="padding:1px;" align="center">
                                        <small>Cambiar Contraseña: </small>
                                    </td>

                                </tr>
                                <tr>
                                    <td style="padding:1px;">
                                        @Html.DropDownListFor(m => m.IdPerfil, new List<SelectListItem>() { new SelectListItem { Text="ADMINISTRADOR", Value="1"}, new SelectListItem { Text = "ASESOR", Value = "2" } ,
                                                                                                    new SelectListItem { Text = "CÉLULA", Value = "3" } }, "-Seleccione-", new { @class = "form-control input-sm", id = "perfilSelectedCreate", onchange = "TraerPosiblesLineasDePerfil()" })
                                    </td>
                                    <td style="padding:1px;">
                                        @Html.DropDownListFor(m => m.IdLinea, new List<SelectListItem>() { new SelectListItem { Text = "-Seleccione-", Value = "0" } }, new { @class = "form-control input-sm", id = "lineaSelectCreacion", onchange = "TraerPosiblesAccesosDeLinea()" })
                                    </td>
                                    <td style="padding:1px;">
                                        @Html.TextBoxFor(m => m.Contraseña, new { @class = "form-control input-sm", disabled = true, id = "tbContra" })
                                    </td>
                                    <td style="padding:1px;" align="center">
                                        <input type="checkbox" id="cBCambiarContra" class="checkbox" onchange="$('#tbContra').prop('disabled', function(i, v) { return !v; }); " />
                                    </td>
                                </tr>
                            </table>
                            <br />
                            <strong><i class="fa fa-chevron-circle-down"></i> Accesos Actuales Del Usuario:</strong>
                            <br />
                            @*<button id="" type="submit" class="btn btn-block btn-danger" style="float: right; margin-right: 20px;" onclick="GuardarTotalAccesosNuevos()">Eliminar Accesos </button>*@
                            <div id="gridViewConsultaAccesos" style="display:none;">
                                
                            </div>
                            <br />
                            <strong><i class="fa fa-chevron-circle-down"></i> Accesos y Privilegios a Otorgar:</strong>
                            <br />
                            <div id="GridListaAccesos"></div>
                            @*<table id="accesosPrivilegiosConsulta">

                                <tr>
                                    <td width="200" style="padding:1px;"></td>
                                    <td width="200" style="padding:1px;"></td>
                                    <td width="200" style="padding:1px;"></td>
                                    <td width="200" style="padding:1px;"></td>
                                    <td width="200" style="padding:1px;"></td>
                                </tr>
                            </table>
                            <table id="accesosPrivilegiosCreacion">
                                <tr>
                                    <td width="200" style="padding:1px;"></td>
                                    <td width="200" style="padding:1px;"></td>
                                    <td width="200" style="padding:1px;"></td>
                                    <td width="200" style="padding:1px;"></td>
                                    <td width="200" style="padding:1px;"></td>
                                </tr>
                            </table>*@
                            <br />
                            @Html.TextBoxFor(m => m.PermisosOtorgados, new { @style = "display:none", id = "listaPermisosCrear" })
                            @*<strong><i class="fa fa-chevron-circle-down"></i> Accesos Seleccionados:</strong>
                            <br />
                            <table>
                                <tr>
                                    <td width="200" style="padding:1px;">Hasta el Momento Serán Agregados:</td>
                                </tr>
                                <tr>
                                    <td width="1200" rowspan="3" colspan="6" style="padding:1px;"><textarea id="AccesosaAgregar" style="height:100px;" class="form-control input-sm"></textarea></td>
                                </tr>
                            </table>*@
                            <br />
                        </div>

                        <div class="tab-pane" id="Consulta_Usuario" style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px;">
                            <br />
                            <strong><i class="fa fa-chevron-circle-down"></i> Descarga de Excel:</strong>
                            <table>
                                <tr>
                                    <td style="padding:1px;" colspan="3">
                                        Descargue el Excel y coloque las cédulas a modificar:
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:1px;" colspan="3">
                                        <a href="~/Resources/Documents/Formato_Usuarios_Masivo.xls">
                                            <img src="~/Resources/Images/Excel-icon.png" width="100" height="100" />
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            <br />
                            <strong><i class="fa fa-chevron-circle-down"></i> Agregar Excel Correctamente:</strong>
                            <table>
                                <tr>
                                    <td style="padding:1px;" colspan="4">
                                        Agregue el formato  "97-2003 .XLS" ya diligenciado de la manera correcta y carguelo:
                                    </td>

                                </tr>
                                <tr>
                                    <td style="padding:25px;" colspan="4">

                                        <input type="file" class="btn-file" id="input_accesos_masivo" onchange="" />
                                    </td>
                                </tr>
                            </table>
                            <br />
                            <strong><i class="fa fa-chevron-circle-down"></i> Visualice Información a Modificar:</strong>
                            <table>
                                <tr>
                                    <td>
                                        <div id="infoCotejeadaGrid">

                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <br /><br />
                            <strong><i class="fa fa-chevron-circle-down"></i> Perfil a otorgar:</strong>
                            @Html.DropDownListFor(m => m.IdPerfilMasivo, new List<SelectListItem>() { new SelectListItem { Text="ADMINISTRADOR", Value="1"}, new SelectListItem { Text = "ASESOR", Value = "2" } ,
                                                                                new SelectListItem { Text = "CÉLULA", Value = "3" } }, "-Seleccione-", new { @class = "form-control input-sm", onchange = "TraerPosiblesLineasDePerfilMasivo()", @style = "width:200px", id = "perfilSelectedCreateMasivo" })
                            <br />
                            <strong><i class="fa fa-chevron-circle-down"></i> Linea a otorgar:</strong>
                            @Html.DropDownListFor(m => m.IdLineaMasivo, new List<SelectListItem>() { new SelectListItem { Text = "-Seleccione-", Value = "0" } }, new { @class = "form-control input-sm", @style = "width:200px", id = "lineaSelectCreacionMasivo"})
                            <br />
                            <strong><i class="fa fa-chevron-circle-down"></i> Accesos y privilegios:</strong>
                            <br />
                            <div id="GridListaAccesosMasivo"></div>
                            @*<table id="accesosPrivilegiosMasivos">
                                <tr>
                                    <td width="200" style="padding:1px;"></td>
                                    <td width="200" style="padding:1px;"></td>
                                    <td width="200" style="padding:1px;"></td>
                                    <td width="200" style="padding:1px;"></td>
                                    <td width="200" style="padding:1px;"></td>
                                </tr>
                            </table>*@
                            <br />
                            @*<strong><i class="fa fa-chevron-circle-down"></i> Accesos Seleccionados:</strong>
                            <br />
                            <table>
                                <tr>
                                    <td width="200" style="padding:1px;">Hasta el Momento Serán Agregados:</td>
                                </tr>
                                <tr>
                                    <td width="1200" rowspan="3" colspan="6" style="padding:1px;"><textarea id="AccesosaAgregarMasivos" style="height:100px;" class="form-control input-sm"></textarea></td>
                                </tr>
                            </table>*@
                            <br />    
                            @Html.TextBoxFor(m => m.PermisosOtorgadosMasivos, new { @style = "display:none", id = "listaPermisosCrearMasivo" })
                            @Html.TextBoxFor(m => m.UsuariosACambiarMasivo, new { @style = "display:none", id = "listaUsuariosMasivo" })
                        </div>
                    </div>
                    <br />
                    <div class="box-footer">
                        <button id="consultarUsuarioConsulta" type="submit" name="opcionMando" value="ConsultarConsulta" style="display:none"></button>
                        <button id="consultarUsuario" type="submit" name="opcionMando" value="ConsultaActualizarAcceso" style="display:none"></button>
                        <button id="Crear_Usuario" type="submit" class="btn btn-block btn-primary btn-lg" name="opcionMando" value="ActualizarAcceso" style="width:15%;  margin-left:42.5%;" onclick="AgregaAccesosaGuardar()">Actualizar Usuario </button>
                        <button id="Actualizar_Usuarios_Masivo" type="submit" class="btn btn-block btn-primary btn-lg" name="opcionMando" value="ActualizarAccesosMasivos" style="width:15%;  margin-left:42.5%;" onclick="AgregaAccesosaGuardarMasivo()">Actualizar Usuarios </button>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    }
    @section Scripts{
        <script>
            var segundaPestañaAbierta = @Html.Raw(Json.Encode(@ViewBag.SegundaPestañaAbierta));
            var urlPosiblesAliados= '@Url.Action("JsonAliadosNames", "ConsultasAdmin")';
            var urlUsuariosConsulta = '@Url.Action("JsonUsuariosDeAliadoYPerfil", "AdminUsuarios")';
            var urlPosiblesLineasAccesos = '@Url.Action("PosiblesAccesosYLineasDePerfil", "AdminUsuarios")';
            var cedulaConsultado =  @Html.Raw(Json.Encode(Model.UsuarioHolos.Cedula));
            var perfilUsuario =  @Html.Raw(Json.Encode(Model.IdPerfil ));
            var lineaUsuario = @Html.Raw(Json.Encode(Model.IdLinea ));
            var urlPosiblesAccesosDeUsuario = '@Url.Action("PosiblesAccesosDeUsuario", "AdminUsuarios")';
            var urlPosiblesAccesosDeLinea = '@Url.Action("PosiblesAccesosDeLineas", "AdminUsuarios")';
            var urlConsultaUsuariosAccesosMasivos = '@Url.Action("ConsultaUsuariosAccesosMasivos", "AdminUsuarios")';
            var urlBorrarAccesoUsuario = '@Url.Action("EliminaAcceso", "AdminUsuarios")';
            var urlListaAccesos = '@Url.Action("ListaAccesos", "AdminUsuarios")';

            //$("#cedulaCreacion").val(0);
        </script>
        <script src="~/Scripts/AdminUsuarios/Accesos.js?1.3.7"></script>
        <script src="~/Scripts/AdminUsuarios/xls.js"></script>
    }
}
else
{
    <div class="row">

        <div class="box box-primary">

            <div class="box-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="error-page">
                            <h2 class="headline text-red" style="margin-top:-18px;">502</h2>
                            <div class="error-content">
                                <h3><i class="fa fa-warning text-red"></i> Oops! Acceso Denegado.</h3>
                                <p style="text-align:justify;">
                                    La información que se relaciona en esta vista no es posible visualizarse ya que su perfil no posee el acceso necesario.
                                    Por favor solicite al administrador del sistema el acceso correspondiente.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

