@model Telmexla.Servicios.DIME.Entity.ViewModelCierreExperiencia
@{
    ViewBag.Title = "Formulario Liberaciones de Home Pass";
    ViewBag.Subtitle = "Procesos - Cierre de la Experiencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">

    <div class="col-md-9" style="width:100%; ">
        <div class="box box-danger">

            <div class="tab-content" style="padding-left:0; padding-top: 0">
                <div class="active tab-pane" id="Datos_Usuario" style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px;">

                        <small><strong>Cuenta:</strong></small>
                        <input type="text" class="form-control" style="width:200px;"/>

                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">

    <div class="col-md-9" style="width:100%; ">
        <div class="box box-danger">

            <div class="tab-content" style="padding-left:0; padding-top: 0">
                <div class="active tab-pane" id="Datos_Usuario" style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px;">


                    <table>
                        <tr>
                            <td width="200" style="padding:1px;">
                                <small><strong> Canal de ingreso:</strong></small>
                            </td>
                            <td width="200" style="padding:1px;">
                                <small><strong>Usuario que escala:</strong></small>
                            </td>
                            <td width="200" style="padding:1px;">
                                <small><strong>Numero de servicios:</strong></small>
                            </td>
                            <td width="200" style="padding:1px;">
                                <small><strong>Fecha de solicitud:</strong></small>
                            </td>
                            <td width="200" style="padding:1px;">
                                <small><strong>Solicitud Modulo:</strong></small>
                            </td>
                            <td width="200" style="padding:1px;">
                                <small><strong>Motivo de desconexion:</strong></small>
                            </td>
                            @**@

                        </tr>
                        <tr>
                            <td style="padding:1px;">
                                @Html.DropDownList("cuentaingreso", new List<SelectListItem> {new SelectListItem{Text="Base", Value="Base" },
                                                                                               new SelectListItem{Text="Correo", Value="Correo" }}, new { @class = "form-control" })
                            </td>
                            <td style="padding:1px;">
                                <input type="text" class="form-control" />
                            </td>
                            <td style="padding:1px;">
                                @Html.DropDownList("NumeroServicio", new List<SelectListItem> {new SelectListItem{Text="1", Value="1" },
                                                                                                new SelectListItem{Text="2", Value="2" }}, new { @class = "form-control" })
                            </td>
                            <td style="padding:1px;">
                                <input type="text" class="form-control" id="FechaSolicitud" placeholder="Fecha de solicitud" />
                            </td>
                            <td style="padding:1px;">
                                @Html.DropDownList("SolicitudModulo", new List<SelectListItem> {new SelectListItem{Text="Si", Value="1" },
                                                                                                 new SelectListItem{Text="No", Value="2" }}, new { @class = "form-control" })
                            </td>
                            <td style="padding:1px;">
                                @Html.DropDownList("MotivoDesconexion", new List<SelectListItem> {new SelectListItem{Text="D1", Value="1" },
                                                                                                 new SelectListItem{Text="D2", Value="2" }}, new { @class = "form-control" })
                            </td>
                            @**@
                        </tr>
                        <tr>
                            <td width="200" style="padding:1px;">
                                <small><strong>Grupo:</strong></small>
                            </td>
                            <td colspan="2" width="200" style="padding:1px; text-align:center;">
                                <small><strong>Gestion:</strong></small>
                            </td>
                            <td width="200" style="padding:1px;">
                                <small><strong>Motivo de Liberacion:</strong></small>
                            </td>
                            <td width="200" style="padding:1px;">
                                <small><strong>Usuario que libero:</strong></small>
                            </td>
                            <td width="200" style="padding:1px;">
                                <small><strong>Observaciones:</strong></small>
                            </td>
                            @**@
                        </tr>
                        <tr>
                            <td style="padding:1px;">
                                @Html.DropDownList("Grupo", new List<SelectListItem> {new SelectListItem{Text="Call Center", Value="1" },
                                                                                                 new SelectListItem{Text="Directos", Value="2" }}, new { @class = "form-control" })
                            </td>
                            <td style="padding:1px;">
                                @Html.DropDownList("Grupo1", new List<SelectListItem> {new SelectListItem{Text="Home Pass Liberado", Value="1" },
                                                                                                         new SelectListItem{Text="Home Pass No Liberado", Value="2" }}, new { @class = "form-control" })
                            </td>
                            <td style="padding:1px;">
                                @Html.DropDownList("Grupo2", new List<SelectListItem> {new SelectListItem{Text="Se genera deconexion por sistema", Value="1" },
                                                                                                         new SelectListItem{Text="No Cumple preaviso", Value="2" }}, new { @class = "form-control" })
                            </td>
                            <td style="padding:1px;">
                                @Html.DropDownList("MotivoLiberacion", new List<SelectListItem> {new SelectListItem{Text="Traslado", Value="1" },
                                                                                                     new SelectListItem{Text="Venta nueva", Value="2" }}, new { @class = "form-control" })
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td style="padding:1px;">
                                <input type="text" class="form-control" />
                            </td>
                            @**@
                        </tr>
                        <tr>
                            <td width="200" style="padding:1px;">
                                <small><strong>Vendedor:</strong></small>
                            </td>
                            <td width="200" style="padding:1px;">
                                <small><strong>Fecha de Seguimiento:</strong></small>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:1px;">
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" id="FechaSeguimiento" placeholder="Fecha de Seguimiento" />
                            </td>
                        </tr>


                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/Gestion_Blending/jquery.datetimepicker.full.js?1.0.2"></script>
    <link href="~/Styles/Elements/jquery.datetimepicker.css?1.0.2" rel="stylesheet" />
    <script src="~/Scripts/LiberacionesHomePass/LiberacionesHomePass.js?1.0.1"></script>
}
