@model Telmexla.Servicios.DIME.Entity.ViewModelCierreExperiencia
@{
    ViewBag.Title = "Formulario Suspensiones Temporales";
    ViewBag.Subtitle = "Procesos - Cierre de la Experiencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("SuspencionesTemporales", "CierreExperiencia", FormMethod.Post, new { id = "suspensiones", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li id="Li1" class="active" style="background-color: #dcdcdc;"><a href="#Datos_Basicos" style="background-color: transparent;" data-toggle="tab">Formulario de Gestión</a></li>
            <li id="Li4"><a style="background-color: transparent;" href="#Historial" data-toggle="tab">Mi Historial</a></li>
            <li id="Li5"><a style="background-color: transparent;" href="#Seguimientos" data-toggle="tab">Mis Seguimientos</a></li>

        </ul>
        <div class="tab-content" style="padding-left:0; padding-top: 0">
            <div class="active tab-pane" id="Datos_Basicos" style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px;">
                <br />
               <table>
                    <tr>
                        <td width="200" style="padding:1px;">
                            <small>Cuenta del Cliente:  </small>
                            @Html.TextBoxFor(m => m.CEPSuspensiones.CuentaCliente, new { @class = "form-control input-sm", @Id = "CuentaCliente", @placeholder = "Ingrese la cuenta",@readonly="true" })
                            @Html.HiddenFor(m => m.CEPSuspensiones.IdGestion)
                            @Html.HiddenFor(m => m.CEPAsigSuspensiones.IdAsignacion)
                        </td>
                        <td width="200" style="padding:1px;">
                            <small>Canal de Ingreso:</small>
                            @Html.HiddenFor(m => m.CEPSuspensiones.CanalDeIngreso, new { @class = "form-control input-sm", @Id = "CanalDeIngreso1" })
                            @Html.DropDownListFor(m => m.CEPSuspensiones.CanalDeIngreso, new List<SelectListItem> { }, "--SELECCIONE--", new { Id = "CanalDeIngreso", @class = "form-control input-sm", @readonly = "true" })
                        </td>
                        <td width="200" style="padding:1px;">
                            <small>Fecha de Creación:  </small>
                            @Html.TextBoxFor(m => m.CEPSuspensiones.FechaCreacion, new { @class = "form-control input-sm", @Id = "FechaCreacion", placeholder = "Seleccione la Fecha", @readonly = "true" })
                        </td>
                        <td width="200" style="padding:1px;">
                            <small>Usuario de Creación:  </small>
                            @Html.TextBoxFor(m => m.CEPSuspensiones.UsuarioCreacion, new { @class = "form-control input-sm", @Id = "UsuarioCreacion", placeholder = "Ingrese el usuario", @readonly = "true" })

                        </td>
                        <td width="200" style="padding:1px;">
                            <small>Motivo de Suspensión:</small>
                            @Html.HiddenFor(m => m.CEPSuspensiones.MotivosSuspension, new { @class = "form-control input-sm", @Id = "MotivosSuspension1" })
                            @Html.DropDownListFor(m => m.CEPSuspensiones.MotivosSuspension, new List<SelectListItem> { }, "--SELECCIONE--", new { Id = "MotivosSuspension", @class = "form-control input-sm" })
                        </td>
                        <td width="200" style="padding:1px;">
                            <small>Meses a Suspender:</small>
                            @Html.HiddenFor(m => m.CEPSuspensiones.MesesSuspender, new { @class = "form-control input-sm", @Id = "MesesSuspender1" })
                            @Html.DropDownListFor(m => m.CEPSuspensiones.MesesSuspender, new List<SelectListItem> { }, "--SELECCIONE--", new { Id = "MesesSuspender", @class = "form-control input-sm" })
                        </td>

                    </tr>
                    <tr>
                        <td width="200" style="padding:1px;">
                            <small>Servicios a Suspender:</small>
                            @Html.HiddenFor(m => m.CEPSuspensiones.ServiciosSuspender, new { @class = "form-control input-sm", @Id = "ServiciosSuspender1" })
                            @Html.DropDownListFor(m => m.CEPSuspensiones.ServiciosSuspender, new List<SelectListItem> { }, "--SELECCIONE--", new { Id = "ServiciosSuspender", @class = "form-control input-sm" })
                        </td>
                    </tr>

                </table>


            </div>
            <div class="tab-pane" id="Historial" style="background-color:#dcdcdc; padding-left:10px; padding-right:10px; padding-top:10px; padding-bottom:10px;">

                <div id="historicoGrid"></div>
            </div>
            <div class="tab-pane" id="Seguimientos" style="background-color:#dcdcdc; padding-left:10px; padding-right:10px; padding-top:10px; padding-bottom:10px;">
                <div id="seguimientosGrid"></div>
            </div>
        </div>
    </div>


    <div class="box box-primary" style="padding-left:5px;">
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12">

                </div>
            </div>
        </div>
        <h2 class="page-header" style="margin-top: 0px; margin-left:1px;">
            <i class="fa fa-tasks"></i> Gestión Back Suspensiones
        </h2>
        <div id="ARBOL" style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px; margin-top:-10px; padding-right:10px;">
            <br />
            <table>
                <tr>
                    <td style="padding-left:1px; width:350px;">
                        <smmall>Gestión:</smmall>
                        @Html.HiddenFor(m => m.CEPSuspensiones.Gestion, new { @class = "form-control input-sm", @Id = "SelectGestion1" })
                        @Html.DropDownListFor(m => m.CEPSuspensiones.Gestion, new List<SelectListItem> { }, "--SELECCIONE--", new { Id = "SelectGestion", @class = "form-control input-sm" })

                    </td>
                    <td style="padding-left:1px; width:350px;">
                        <small>Subrazón:</small>
                        @Html.HiddenFor(m => m.CEPSuspensiones.Subrazon, new { @class = "form-control input-sm", @Id = "Subrazon1" })
                        @Html.DropDownListFor(m => m.CEPSuspensiones.Subrazon, new List<SelectListItem> { }, "--SELECCIONE--", new { Id = "Subrazon", @class = "form-control input-sm" })

                    </td>
                    <td style="padding-left:1px; width:200px;">
                        <small>Estado</small>
                        @Html.TextBoxFor(m => m.CEPSuspensiones.Estado, new { @class = "form-control input-sm", @readonly = "true", Id = "Estado" })

                    </td>

                </tr>
            </table>

        </div>
        <br />
    </div>

    <div class="box box-primary" id="TituloSeguimiento" style="display:none; padding-left:5px;">
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12">

                </div>
            </div>
        </div>
        <h2 class="page-header" style="margin-top: 0px; margin-left:1px;">
            <i class="fa fa-eye"></i> Seguimientos

        </h2>
        <div id="CuerpoSeguimineto" style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px; margin-top:-10px; padding-right:10px;">
            <table id="Calendario_Seguimiento" style="display:block; margin-bottom: 0px;">
                <tr>
                    <td style="padding:1px;">
                        <small>Seleccione Fecha y Hora del Seguimiento: </small>
                    </td>
                </tr>
                <tr>
                    <td style="padding:1px;">
                        @Html.TextBoxFor(m => m.CEPSuspensiones.FechaSeguimiento, new { @class = "form-control input-sm", id = "FechaSeguimiento", placeholder = "Seleccione Fecha" })
                    </td>
                </tr>
            </table>
        </div>
        <br />
    </div>

    <div class="box box-primary" style="padding-left:5px;">
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12">

                </div>
            </div>
        </div>
        <h2 class="page-header" style="margin-top: 0px; margin-left:1px;">
            <i class="fa fa-comment"></i> Observaciones

        </h2>
        <div id="CuerpoSeguimineto" style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px; margin-top:-10px; padding-right:10px;">
            <br />
            <table width="100%">
                <tr>
                    <td style="padding:1px;">
                        @Html.TextAreaFor(m => m.CEPSuspensiones.Observaciones, new { @class = "form-control input-sm", placeholder = "", style = "width:100%; height:70px;text-transform:uppercase;", @onkeyup = "javascript:this.value=this.value.toUpperCase();" })
                    </td>
                </tr>
            </table>

        </div>
        <br />
        <button id="guardardesconexion" type="submit" class="btn btn-primary" name="guardar" value="true" style="width:10%; height:40px;">Guardar</button>
        <br />
        <br />
    </div>
}
@section Scripts{

    <script>
        var UrlListaDeGestionSuspensiones = '@Url.Action("ListaDeGestionAgenteSuspensiones", "CierreExperiencia")';
        var UrlListaDeSeguimientosSuspensiones = '@Url.Action("ListaDeSeguimientosAgenteSuspensiones", "CierreExperiencia")';
        var UrlArbolDeGestion = '@Url.Action("ArbolesDeTipificacionDesconexion", "CierreExperiencia")';
        var UrlDatosArbol = '@Url.Action("TraerDatosDelArbol", "CierreExperiencia")';
        var RegistrosAsignados = '@ViewBag.Asignacion';
    </script>
    <script src="~/Scripts/CierreExperiencia/SuspensionesTemporales.js?1.0.5"></script>
    <script src="~/Scripts/Gestion_Blending/jquery.datetimepicker.full.js"></script>
    <link href="~/Styles/Elements/jquery.datetimepicker.css" rel="stylesheet" />
    <link href="~/AdminLTE/plugins/icheck/css/all.css" rel="stylesheet" />

}