@model Telmexla.Servicios.DIME.Entity.ViewModelBackElite
@{
    ViewBag.Title = "Gestonar Solicitud Back Elite";
    ViewBag.Subtitle = "Procesos Back Elite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["Gestionar Solcitud Back Elite"] != null)
{
    using (Html.BeginForm("GestionarSolicitud", "BackElite", FormMethod.Post, new { id = "datosCliente", role = "form" }))
    {
        <div class="row">

            <div class="box box-primary">

                <div class="box-body">

                    <div class="row">
                        <div class="col-md-12">
                            <h4>Historico de interacciones</h4>
                            <hr style="border-color:gray;border-width:2px;margin-top:-3px;" />

                            <h2 class="text-red"> @ViewBag.NohayBase</h2>
                            <div id="InteraccionesSolicitud"></div>
                        </div>
                    </div>
                    <h4>Información de la Solicitud</h4>
                    <hr style="border-color:gray;border-width:2px;margin-top:-3px;" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-content">
                                <div class="tab-pane tab-dime-first active" role="tabpanel" id="inforacioningreso">
                                    <table>

                                        <tr>
                                            <td width="200">
                                                <small>Id de Solicitud:</small>
                                                @Html.TextBoxFor(m => m.BEPSolicitudes.IdSolicitud, new { @class = "form-control input-sm", id = "IDSOLICITUD", @readonly = "true" })
                                                @Html.HiddenFor(m => m.BEMTipoDeEscalamientos.IdTipo, new { @class = "form-control input-sm", id = "idescalamiento", @readonly = "true" })

                                            </td>
                                            <td width="200">
                                                <small>Cuenta del Cliente:</small>
                                                @Html.TextBoxFor(m => m.BEPSolicitudes.CuentaCliente, new { @class = "form-control input-sm", id = "cuentacliente", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Lls / Ot:</small>
                                                @Html.TextBoxFor(m => m.BEPSolicitudes.LlsOt, new { @class = "form-control input-sm", id = "Llsot", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Tipo de Solicitud:</small>
                                                @Html.TextBoxFor(m => m.BEPSolicitudes.TipoDeSolicitud, new { @class = "form-control input-sm", id = "tipodesolicitud", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Detalle de Solicitud:</small>
                                                @Html.TextBoxFor(m => m.BEPSolicitudes.DetalleDeSolicitud, new { @class = "form-control input-sm", id = "detalledesolicitud", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Fecha de Solcitud:</small>
                                                @Html.TextBoxFor(m => m.BEPSolicitudes.FechaDeSolicitud, new { @class = "form-control input-sm", id = "fechadesolicitud", @readonly = "true" })
                                            </td>

                                        </tr>
                                        <tr>
                                            <td width="200">
                                                <small>Usuario Que Solicita:</small>
                                                @Html.TextBoxFor(m => m.BEPSolicitudes.UsuarioQueSolicita, new { @class = "form-control input-sm", id = "usuarioquesolicita", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Nombre Usuario Que Solicita:</small>
                                                @Html.TextBoxFor(m => m.BEPSolicitudes.NombreUsuarioQueSolicita, new { @class = "form-control input-sm", id = "nombreusuariosolicita", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Aliado Que Solicita:</small>
                                                @Html.TextBoxFor(m => m.BEPSolicitudes.AliadoQueSolicita, new { @class = "form-control input-sm", id = "aliadosolicita", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Operación Que Solicita:</small>
                                                @Html.TextBoxFor(m => m.BEPSolicitudes.OperacionQueSolicita, new { @class = "form-control input-sm", id = "operacionsolicita", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Fecha Última Actualización:</small>
                                                @Html.TextBoxFor(m => m.BEPSolicitudes.FechaUltimaActualizacion, new { @class = "form-control input-sm", id = "fechaultimaactualiza", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Usuario Última Actualización:</small>
                                                @Html.TextBoxFor(m => m.BEPSolicitudes.UsuarioUltimaActualizacion, new { @class = "form-control input-sm", id = "usuarioactualiza", @readonly = "true" })
                                            </td>


                                        </tr>
                                        <tr>
                                            <td width="200">
                                                <small>Nombre Usuario Actualiza:</small>
                                                @Html.TextBoxFor(m => m.BEPSolicitudes.NombreUsuarioUltimaActualizacion, new { @class = "form-control input-sm", id = "nombreusuultimaact", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Fecha de Finalización:</small>
                                                @Html.TextBoxFor(m => m.BEPSolicitudes.FechaDeFinalizacion, new { @class = "form-control input-sm", id = "fechafinaliza", @readonly = "true" })
                                            </td>

                                            <td width="200">
                                                <small>Usuario Que Finaliza:</small>
                                                @Html.TextBoxFor(m => m.BEPSolicitudes.UsuarioQueFinaliza, new { @class = "form-control input-sm", id = "usuariofinailza", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Nombre Usuario Finaliza:</small>
                                                @Html.TextBoxFor(m => m.BEPSolicitudes.NombreUsuarioQueFinaliza, new { @class = "form-control input-sm", id = "nombreusufinaliza", @readonly = "true" })
                                            </td>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4>Información del Nodo</h4>
                    <hr style="border-color:gray;border-width:2px;margin-top:-3px;" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-content">
                                <div class="tab-pane tab-dime-first active" role="tabpanel" id="inforacioningreso">
                                    <table>
                                        <tr>
                                            <td width="200">
                                                <small>Nodo:</small>
                                                @Html.TextBoxFor(m => m.BEPSolicitudes.Nodo, new { @class = "form-control input-sm", id = "nodo", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Divisional:</small>
                                                @Html.TextBoxFor(m => m.NodosZonificados.Divisional, new { @class = "form-control input-sm", id = "divisional", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Área:</small>
                                                @Html.TextBoxFor(m => m.NodosZonificados.Area, new { @class = "form-control input-sm", id = "area", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Zona:</small>
                                                @Html.TextBoxFor(m => m.NodosZonificados.Zona, new { @class = "form-control input-sm", id = "zona", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Distrito:</small>
                                                @Html.TextBoxFor(m => m.NodosZonificados.Distrito, new { @class = "form-control input-sm", id = "distrito", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Id Nodo:</small>
                                                @Html.TextBoxFor(m => m.NodosZonificados.IdNodo, new { @class = "form-control input-sm", id = "idnodo", @readonly = "true" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="200">
                                                <small>Id Comunidad:</small>
                                                @Html.TextBoxFor(m => m.NodosZonificados.IdComunidad, new { @class = "form-control input-sm", id = "idcomunidad", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Descripción Comunidad:</small>
                                                @Html.TextBoxFor(m => m.NodosZonificados.DscComunidad, new { @class = "form-control input-sm", id = "dsccomunidad", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Descripción División:</small>
                                                @Html.TextBoxFor(m => m.NodosZonificados.Divisional, new { @class = "form-control input-sm", id = "dscdivision", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Red:</small>
                                                @Html.TextBoxFor(m => m.NodosZonificados.Red, new { @class = "form-control input-sm", id = "red", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Aliado Zonificado:</small>
                                                @Html.TextBoxFor(m => m.NodosZonificados.AliadoZonificado, new { @class = "form-control input-sm", id = "aliadozonificado", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Aliado Lls:</small>
                                                @Html.TextBoxFor(m => m.NodosZonificados.AliadoLls, new { @class = "form-control input-sm", id = "aliadoLls", @readonly = "true" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="200">
                                                <small>Regional:</small>
                                                @Html.TextBoxFor(m => m.NodosZonificados.Regional, new { @class = "form-control input-sm", id = "regional", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Regional 2:</small>
                                                @Html.TextBoxFor(m => m.NodosZonificados.Regional2, new { @class = "form-control input-sm", id = "regional2", @readonly = "true" })
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                    <h4>Gestión Back Elite</h4>
                    <hr style="border-color:gray;border-width:2px;margin-top:-3px;" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-content">
                                <div class="tab-pane tab-dime-first active" role="tabpanel" id="gestioncelulacrdireccion">
                                    <table>
                                        <tr>

                                            <td style="padding-left:4px; width:300px;">

                                                <small>Aplica Mal Escalado:</small>
                                                @if (Model.BEPSolicitudes.Malescalado == "SI")
                                                {
                                                    @Html.DropDownListFor(m => m.BEPSolicitudes.Malescalado, new List<SelectListItem> {new SelectListItem{Text="SI", Value="SI" },
                                                                                             new SelectListItem{Text="NO", Value="NO" }},
                                                          "--SELECCIONE--", new { @class = "form-control input-sm", @id = "malescalado" })}
                                                else
                                                {
                                                    @Html.TextBoxFor(m => m.BEPSolicitudes.Malescalado, new { @class = "form-control input-sm", id = "malescaladofijo", @readonly = "true" })
                                                }
                                            </td>
                                            <td style="padding-left:4px; width:400px;">
                                                <small>Detalle Mal Escalado:</small>
                                                @if (Model.BEPSolicitudes.Malescalado == "SI")
                                                {
                                                    @Html.DropDownListFor(m => m.BEPSolicitudes.DetalleMalEscalado, new List<SelectListItem> { }, "--SELECCIONE--", new { Id = "detallemalescalado", @class = "form-control" })}else
                                                {
                                                @Html.TextBoxFor(m => m.BEPSolicitudes.DetalleMalEscalado, new { @class = "form-control input-sm", id = "detallemalescaladofijo", @readonly = "true" })
                                                }
                                            </td>
                                            <td style="padding-left:4px; width:300px;">
                                                <small>Gestión:</small>
                                                @Html.DropDownListFor(m => m.BEPSolicitudes.Gestion, new List<SelectListItem> { }, "--SELECCIONE--", new { Id = "gestion", @class = "form-control" })
                                            </td>
                                            <td width="200">
                                                <small>Estado:</small>
                                                @Html.TextBoxFor(m => m.BEPSolicitudes.EstadoEscalamiento, new { @class = "form-control input-sm", id = "estado", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Fecha de Agenda:</small>
                                                @Html.TextBoxFor(m => m.BEPSolicitudes.FechaDeAgenda, new { @class = "form-control input-sm", id = "fechaagenda" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>@Html.ValidationMessageFor(m => m.BEPSolicitudes.Malescalado, "", new { @class = "text-danger" })</td>
                                            <td>@Html.ValidationMessageFor(m => m.BEPSolicitudes.DetalleMalEscalado, "", new { @class = "text-danger" })</td>
                                            <td>@Html.ValidationMessageFor(m => m.BEPSolicitudes.Gestion, "", new { @class = "text-danger" })</td>
                                            <td>@Html.ValidationMessageFor(m => m.BEPSolicitudes.EstadoEscalamiento, "", new { @class = "text-danger" })</td>
                                        </tr>
                                    </table>
                                    <table>
                                        <tr>
                                            <td width="1200">
                                                <small>Observaciones:</small>
                                                @Html.TextAreaFor(m => m.BEPSolicitudes.Observaciones, new { @style = "width: 100%; height: 100px;max-height: 100px;max-width:1200px;" })
                                            </td>
                                        </tr>
                                    </table>


                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="">
                        <button id="submitDatos" type="submit" class="btn btn-primary" name="cambiarDatos" value="true" style="width:10%; height:40px;">Guardar Datos</button>
                    </div>
                </div>
            </div>
        </div>
    }
    @section Scripts{

        <script>

            var urllistagestion = '@Url.Action("ListaGestionPorIdJson", "BackElite")';
            var urlRazonMalEscalado = '@Url.Action("ListaMalEscaladodJson", "BackElite")';
            var urlestadogestion = '@Url.Action("EstadoGestionId", "BackElite")';
            var urllistainteracciones = '@Url.Action("ListaInteraccionesSolicitudJson", "BackElite")';
        </script>

        <script src="~/Scripts/Gestion_Blending/jquery.datetimepicker.full.js?1.0.1"></script>
        <link href="~/Styles/Elements/jquery.datetimepicker.css?1.0.1" rel="stylesheet" />
        <script src="~/Scripts/BackElite/GestionarSolicitud.js?1.0.3"></script>
        @*@Scripts.Render("~/AdminLTEplugins/jquery-validate/js")*@
    }
}
else
{
    <div class="row">
        <div class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="error-page">
                            <h2 class="headline text-red" style="margin-top:-18px;">502</h2>
                            <div class="error-content">
                                <h3><i class="fa fa-warning text-red"></i> Oops! Acceso Denegado.</h3>
                                <p style="text-align:justify;">
                                    La información que se relaciona en esta vista no es posible visualizarse ya que su perfil no posee el acceso necesario.
                                    Por favor solicite al administrador del sistema el acceso correspondiente.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

