@model Telmexla.Servicios.DIME.Entity.ViewModelBanner
<!DOCTYPE html>

<html>
<head>
    <link href="~/Styles/Banner/BannerAlertas.css?1.0.7" rel="stylesheet" />
    <script>
            var urlConvenioElectronicoView = '@Url.Action("ConvenioElectronico", "Banner")';
            var urlElegidoView = '@Url.Action("Elegido_Fijo_Movil", "Banner")';
            var urlClaroVideoView = '@Url.Action("ClaroVideo", "Banner")';
            var urlSMOView = '@Url.Action("MejorOferta", "Banner")';
            var urlSiembraHDView = '@Url.Action("SiembraHD", "Banner")';
            var urlMejorasTecnicas = '@Url.Action("MejorasTecnicas", "Banner")';
            var urlFOX = '@Url.Action("Fox", "Banner")';
            var UrlUsabilidadBanner = '@Url.Action("RegistrarUsabilidadBanner", "Banner")';
    </script>
    <script src="~/Scripts/Banner/BannerAlertas.js?1.1.5"></script>
</head>
<body>

    <div class="BannerAlertasContent">
        @if (ViewBag.ConvenioElectronico == true || ViewBag.ClaroVideo == true || ViewBag.MejorOferta == true || ViewBag.SiembraHD == true || ViewBag.MejorasTecnicas == true || ViewBag.Fox == true)
        {
            <div class="col-xs-2" style="right:30px; float: right;">

                <div id="Latido" class="latir">
                    @if (ViewBag.ConvenioElectronico == true)
                {
                        <a href="#ActivarConvenio" onclick="LlamarConvenioElectronico()" data-toggle="modal" data-backdrop="static" data-keyboard="false">
                            <div id="Icono_1" style="display: block;"></div>
                        </a>
                    }
                    @if (ViewBag.ClaroVideo == true)
                {
                        <a href="#ClaroVideo" onclick="return LlamarClaroVideo();" data-toggle="modal" data-backdrop="static" data-keyboard="false">
                            <div id="Icono_3" style="display: block"></div>
                        </a>
                    }
                    @if (ViewBag.MejorOferta == true)
                {
                        <a href="#MejorOferta" onclick="return LlamarSMO();" data-toggle="modal" data-backdrop="static" data-keyboard="false">
                            <div id="Icono_4" style="display: block"></div>
                        </a>
                    }
                    @if (ViewBag.SiembraHD == true)
                {
                        <a href="#SiembraHD" onclick="return LlamarSiembraHD()" data-toggle="modal" data-backdrop="static" data-keyboard="false">
                            <div id="Icono_5" style="display: block"></div>
                        </a>
                    }
                    @if (ViewBag.MejorasTecnicas == true)
                {
                        <a href="#MejorasTecnicas" onclick="return LlamarMejorasTecnicas()" data-toggle="modal" data-backdrop="static" data-keyboard="false">
                            <div id="Icono_6" style="display: block"></div>
                        </a>
                    }
                    @if (ViewBag.Fox == true)
                {
                        <a href="#FOX" onclick="return LlamarFOX()" data-toggle="modal" data-backdrop="static" data-keyboard="false">
                            <div id="Icono_7" style="display: block"></div>
                        </a>
                    }
                </div>

            </div>
        }

    </div>
    <div>
        @if (ViewBag.ConvenioElectronico == true)
        {
            <div id="ActivarConvenio" class="modal">
                <div class="modal-dialog" style="width:1000px;">
                    <div class="modal-content" style="width:1000px;">
                        <div class="modal-header" style="width:1000px;">
                            <button type="button" class="close" style="color:white;" data-dismiss="modal" onclick="ResetearDivs();">&times;</button>
                            <h2 class="modal-title"><i class="fa fa-tty" aria-hidden="true" style="color:#918de9;"></i>&nbsp;&nbsp;Formulario Convenio electronico</h2>
                        </div>
                        <div class="modal-body" style="width:1000px;">
                            <br />
                            <div class="row">
                                <div class="col-lg-offset-1" style="width:950px; margin-left:25px;">
                                    <iframe id="ismo" style="width:100%;height:400px;margin-left:-10px;margin-top:-30px;" src="@Url.Action("ConvenioElectronico", "Banner")" frameborder="0" allowFullScreen="true"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           
        }
        @if (ViewBag.ClaroVideo == true)
        {
            <div id="ClaroVideo" class="modal">
                <div class="modal-dialog" style="width:1330px;">
                    <div class="modal-content" style="width:1330px;">
                        <div class="modal-header" style="width:1330px;">
                            <button type="button" class="close" style="color:white;" data-dismiss="modal" onclick="ResetearDivs();">&times;</button>
                            <h2 class="modal-title"><i class="fa fa-tv" style="color:#d4a057;" aria-hidden="true"></i>&nbsp;&nbsp;Formulario Activación Claro Video</h2>
                        </div>
                        <div class="modal-body" style="width:1330px;">
                            <br />
                            <div class="row">
                                <div class="col-lg-offset-1" style="width:1300px; margin-left:25px;">
                                    <iframe id="ismo" style="width:100%;height:950px;margin-left:0px;margin-top:-30px;padding:5px;" src="@Url.Action("ClaroVideo", "Banner")" frameborder="0" allowFullScreen="true"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
        @if (ViewBag.MejorOferta == true)
        {
            <div id="MejorOferta" class="modal">
                <div class="modal-dialog" style="width:1000px;">
                    <div class="modal-content" style="width:1000px;">
                        <div class="modal-header" style="width:1000px;">
                            <button type="button" class="close" style="color:white;" data-dismiss="modal" onclick="ResetearDivs();">&times;</button>
                            <h2 class="modal-title"><i class="fa fa-shopping-cart" aria-hidden="true" style="color:#1e89ef;"></i>&nbsp;&nbsp;Formulario Activación Siguiente Mejor Oferta</h2>
                        </div>
                        <div class="modal-body" style="width:1000px;">
                            <br />
                            <div class="row">
                                <div class="col-lg-offset-1" style="width:950px; margin-left:25px;">
                                    <iframe id="ismo" style="width:100%;height:950px;margin-left:-10px;margin-top:-30px;" src="@Url.Action("MejorOferta", "Banner")" frameborder="0" allowFullScreen="true" ></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (ViewBag.SiembraHD == true)
        {
           <div id="SiembraHD" class="modal">
                <div class="modal-dialog" style="width:1000px;">
                    <div class="modal-content" style="width:1000px;">
                        <div class="modal-header" style="width:1000px;">
                            <button type="button" class="close" style="color:white;" data-dismiss="modal" onclick="ResetearDivs();">&times;</button>
                            <h2 class="modal-title"><i class="fa fa-tty" aria-hidden="true" style="color:#918de9;"></i>&nbsp;&nbsp;Formulario Activación Siembra HD</h2>
                        </div>
                        <div class="modal-body" style="width:1000px;">
                            <br />
                            <div class="row">
                                <div class="col-lg-offset-1" style="width:950px; margin-left:25px;">
                                    <iframe id="ismo" style="width:100%;height:400px;margin-left:-10px;margin-top:-30px;" src="@Url.Action("SiembraHD", "Banner")" frameborder="0" allowFullScreen="true"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (ViewBag.MejorasTecnicas == true)
        {
            <div id="MejorasTecnicas" class="modal">
                <div class="modal-dialog" style="width:1000px;">
                    <div class="modal-content" style="width:1000px;">
                        <div class="modal-header" style="width:1000px;">
                            <button type="button" class="close" style="color:white;" data-dismiss="modal" onclick="ResetearDivs();">&times;</button>
                            <h2 class="modal-title"><i class="fa fa-tty" aria-hidden="true" style="color:#918de9;"></i>&nbsp;&nbsp;Formulario Mejoras Tecnicas</h2>
                        </div>
                        <div class="modal-body" style="width:1000px;">
                            <br />
                            <div class="row">
                                <div class="col-lg-offset-1" style="width:950px; margin-left:25px;">
                                    <iframe id="ismo" style="width:100%;height:400px;margin-left:-10px;margin-top:-30px;" src="@Url.Action("MejorasTecnicas", "Banner")" frameborder="0" allowFullScreen="true"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        }
        @if (ViewBag.Fox == true)
        {
            <div id="FOX" class="modal">
                <div class="modal-dialog" style="width:1000px;">
                    <div class="modal-content" style="width:1000px;">
                        <div class="modal-header" style="width:1000px;">
                            <button type="button" class="close" style="color:white;" data-dismiss="modal" onclick="ResetearDivs();">&times;</button>
                            <h2 class="modal-title"><i class="fa fa-calendar-plus-o" aria-hidden="true" style="color:#d66b2a;"></i>&nbsp;&nbsp;Formulario FOX Premium</h2>
                        </div>
                        <div class="modal-body" style="width:1000px;">
                            <br />
                            <div class="row">
                                <div class="col-lg-offset-1" style="width:950px; margin-left:25px;">
                                    <iframe id="ismo" style="width:100%;height:950px;margin-left:-10px;margin-top:-30px;" src="@Url.Action("Fox", "Banner")" frameborder="0" allowFullScreen="true"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }

    </div>
   
</body>

</html>