@using System.Globalization;

<li class="dropdown user user-menu">
    @if (Session["IdUsuario"] != null)
    {
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="~/AdminLTE/dist/img/user.svg" class="user-image" alt="User Image">
            @{
                string[] nombreUsuario;
                nombreUsuario = @Session["NombreUsuario"].ToString().Split(' ');
                string nombreFinal = nombreUsuario[0];
                if (nombreUsuario.Count() == 4) nombreFinal = nombreFinal + " " + nombreUsuario[2];
                else nombreFinal = nombreFinal + " " + nombreUsuario[1];

                <span class="hidden-xs">@nombreFinal </span>
            }
        </a>
        <ul class="dropdown-menu">
            <li class="user-header">
                <img src="~/AdminLTE/dist/img/user.svg" class="img-circle" alt="User Image">
                <p>
                    <small><b>@Session["Usuario"].ToString()</b></small>  
                </p>
                <p>
                    @{ 
                        string aliadoYLinea = Session["AliadoLogeado"].ToString() + " " + Session["LineaLogeado"].ToString();
                 
                    <small> <b>@aliadoYLinea</b> </small>
                    }
                </p>

            </li>
            <li class="user-body">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <a onclick="KillTimeLockScreen(); lockScreenShow = true;$('#lockScreenActivate').click();"  class="btn btn-default btn-flat">Bloquear Pantalla</a>
                    </div>
   
                </div>
            </li>

            <li class="user-footer">
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="pull-left">
                        @Html.ActionLink("Ver Mi Perfil", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-flat", title = "Manage" })
                    </div>
                    <div class="pull-right">
                        <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Cerrar Sesión</a>
                    </div>
                }
            </li>
        </ul>
    }
    else
    {
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }
</li>