@model List<String>
<html>
<head>
    <link rel="shortcut icon" href="~/favicon.ico">
</head>

<body>
    <div class="callout bg-gray-light">
        <label style="color:dimgray;">Estas son las preguntas que tienes registradas, por favor respondalas de acuerdo a la informacion registrada inicialmente:</label>
        </div>
        <div data-ng-app="PreDesbloqueo" id="restablecerContraseña" class="box box-danger">
            <div data-ng-controller="PreguntasController" ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model))">
                <div class="form-group">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <label>Pregunta @(i + 1)</label> <br />
                        <label>  @Model[i]</label>
                        @Html.TextBox("respuesta" + (i + 1), null, new { @name = "respName" + (i + 1), @class = "form-control", type = "password" });
                    }
                </div>

                <input type="submit" class="btn btn-danger" value="Aceptar" id="btnAceptar" />
                <br />
                <br />
                </div>
        </div>
        <script src="~/Scripts/Cliente/RecordarContraseña.js"></script>
        <script>


        $("#btnAceptar").on('click', function () {
            var resultRespuestas =[];
            for(var i = 0; i < 5; i++)
            {
                resultRespuestas[i]= ($("#respuesta" + (i + 1)).val());
            }
            var id =   @ViewBag.Id;
            $.ajax({
                type: "POST",
                url: '@Url.Action("RestablecerContraseña", "Account")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ respuestas: resultRespuestas, id: id }),
                dataType: "html",
                success: function (result) {
                    console.log(result);
                    var valorSacado = $(result).find('p').text();
                    if( valorSacado =="Las respuestas ingresadas no son válidas, actualice la página para intentar de nuevo"
                        ||  valorSacado == "El usuario ingresado no existe, actualice la página para intentar de nuevo")
                    {  $('#restablecerContraseña').html(result);
                    }else{
                        window.location.href='/Account/ContraseñaCaducada';
                    }

                  
                }

            });
        })
        </script>


</body>
</html>

