@model Telmexla.Servicios.DIME.Entity.ViewModelRetencion
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Seguimientos Retención</title>
    @Styles.Render("~/AdminLTEbootstrap/css")
    @Styles.Render("~/AdminLTEdist/css")
    @Styles.Render("~/AdminLTEdist/css/skins")
    
    <link href="~/Styles/Elements/Dime2.css?1.1.6" rel="stylesheet" />
    <link href="~/AdminLTE/plugins/ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/AdminLTE/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/AdminLTE/Kendo2016.3.11/css/kendo.common.min.css" rel="stylesheet" />
    <link href="~/AdminLTE/Kendo2016.3.11/css/kendo.default.min.css" rel="stylesheet" />
    <link href="~/AdminLTE/Kendo2016.3.11/css/kendo.default.mobile.min.css" rel="stylesheet" />
    
</head>
<body>
    @using (Html.BeginForm("RegistroSetguimientos", "Retencion", FormMethod.Post, new { id = "datosCliente", role = "form", onkeydown = "return event.keyCode!=13" }))
    {
        @Html.AntiForgeryToken()

        <div class="callout callout-danger" style="margin-bottom: 0 ; background-color:rgb(255, 255, 255) !important; padding: 0 0 0 0; color: black !important;">
            <div style="background-color:#dcdcdc; padding-top:15px; padding-left:15px; padding-bottom:15px;">
                <table>
                    <tr>
                        <td width="200">
                            <small>Cuenta del Cliente</small>
                            <input type="text" class="form-control input-sm" id="CuentaCliente" placeholder="Ingrese la cuenta" name="cuenta" />
                        </td>
                        <td width="200">
                            <small>Cédula del Cliente</small>
                            <input type="text" class="form-control input-sm" id="Cedula" placeholder="Ingrese el documento" name="Cedula" />
                        </td>
                    </tr>
                </table>
                
            </div>
        </div>
        <br />
        <div class="row" id="CuentasPorCedula" style="display:none;">
            <div class="col-md-12">
                <div class="box box-danger">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="page-header" style="margin-top:25px"><i class="fa fa-search"></i> Lista de Cuentas:</h4>
                                <div style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px; margin-top:-10px; margin-left: -10px; padding-right:10px;">
                                    <div class="box-body">
                                        <div id="dataLoading" style="display:none;text-align:center;width:100%;height:auto;">
                                            <div><img src="~/Resources/Images/Loading.gif" height="100" width="100" /></div>
                                        </div>
                                        <div id="gridViewConsulta"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
        
        <div class="box box-danger">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">

                    </div>
                </div>
            </div>
            <h5 class="page-header" style="margin-top: 0px; margin-left:1px;">
                <i class="fa fa-user"></i> Información del Cliente
            </h5>
            <div id="Cliente" style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px; margin-top:-10px; padding-right:10px;">
                <br />
                <table>
                    <tr>
                        <td style="padding-left:1px; width:200px;">
                            <small>Nombre del Cliente</small>
                            @Html.TextBoxFor(m => m.ClientesTodo.Nombre, new { @class = "form-control input-sm", @Id = "Nombre", @readonly="true" })
                        </td>
                        <td style="padding-left:1px; width:280px;">
                            <small>Apellido Cliente</small>
                            @Html.TextBoxFor(m => m.ClientesTodo.Apellido, new { @class = "form-control input-sm", @Id = "Apellido", @readonly = "true" })
                        </td>
                        <td style="padding-left:4px; width:280px;">
                            <small>Teléfono Telmex</small>
                            @Html.TextBoxFor(m => m.ClientesTodo.TelefonoTelmex, new { @class = "form-control input-sm", @Id = "TelefonoTelmex", @readonly = "true" })
                        </td>
                        <td style="padding-left:4px; width:280px;">
                            <small>Teléfono 1</small>
                            @Html.TextBoxFor(m => m.ClientesTodo.Telefono1, new { @class = "form-control input-sm", @Id = "Telefono1", @readonly = "true" })
                        </td>
                        <td style="padding-left:4px; width:280px;">
                            <small>Teléfono 2</small>
                            @Html.TextBoxFor(m => m.ClientesTodo.Telefono2, new { @class = "form-control input-sm", @Id = "Telefono2", @readonly = "true" })
                        </td>
                        <td style="padding-left:4px; width:280px;">
                            <small>Teléfono 3</small>
                            @Html.TextBoxFor(m => m.ClientesTodo.Telefono3, new { @class = "form-control input-sm", @Id = "Telefono3", @readonly = "true" })
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:4px; width:280px;">
                            <small>Dirección de Instalación</small>
                            @Html.TextBoxFor(m => m.ClientesTodo.DirInstalacion, new { @class = "form-control input-sm", @Id = "DirInstalacion", @readonly = "true" })
                        </td>
                        <td style="padding-left:4px; width:280px;">
                            <small>Dirección Correspondencia</small>
                            @Html.TextBoxFor(m => m.ClientesTodo.DirCorrespondencia, new { @class = "form-control input-sm", @Id = "DirCorrespondencia", @readonly = "true" })
                        </td>
                        <td style="padding-left:4px; width:280px;">
                            <small>Nodo</small>
                            @Html.TextBoxFor(m => m.ClientesTodo.Nodo, new { @class = "form-control input-sm", @Id = "Nodo", @readonly = "true" })
                        </td>
                        <td style="padding-left:4px; width:280px;">
                            <small>Red</small>
                            @Html.TextBoxFor(m => m.ClientesTodo.Red, new { @class = "form-control input-sm", @Id = "Red", @readonly = "true" })
                        </td>
                        <td style="padding-left:4px; width:280px;">
                            <small>División</small>
                            @Html.TextBoxFor(m => m.ClientesTodo.Division, new { @class = "form-control input-sm", @Id = "Division", @readonly = "true" })
                        </td>
                        <td style="padding-left:4px; width:280px;">
                            <small>Área</small>
                            @Html.TextBoxFor(m => m.ClientesTodo.Area, new { @class = "form-control input-sm", @Id = "Area", @readonly = "true" })
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:4px; width:280px;">
                            <small>Zona</small>
                            @Html.TextBoxFor(m => m.ClientesTodo.Zona, new { @class = "form-control input-sm", @Id = "Zona", @readonly = "zona" })
                        </td>
                        <td style="padding-left:4px; width:280px;">
                            <small>Distrito</small>
                            @Html.TextBoxFor(m => m.ClientesTodo.Distrito, new { @class = "form-control input-sm", @Id = "Distrito", @readonly = "true" })
                        </td>
                        <td style="padding-left:4px; width:280px;">
                            <small>Nombre Comunidad</small>
                            @Html.TextBoxFor(m => m.ClientesTodo.NombreComunidad, new { @class = "form-control input-sm", @Id = "NombreComunidad", @readonly = "true" })
                        </td>
                        <td style="padding-left:4px; width:280px;">
                            <small>Estrato</small>
                            @Html.TextBoxFor(m => m.ClientesTodo.Estrato, new { @class = "form-control input-sm", @Id = "Estrato", @readonly = "true" })
                        </td>
                        <td style="padding-left:4px; width:280px;">
                            <small>Tipo Cliente</small>
                            @Html.TextBoxFor(m => m.ClientesTodo.TipoCliente, new { @class = "form-control input-sm", @Id = "TipoCliente", @readonly = "true" })
                        </td>
                        <td style="padding-left:4px; width:280px;">
                            <small>Descripcion</small>
                            @Html.TextBoxFor(m => m.ClientesTodo.Descripcion, new { @class = "form-control input-sm", @Id = "Descripcion", @readonly = "true" })
                        </td>
                    </tr>
                 </table>
            </div>
            <br />
        </div>
       
    }
    @section Scripts{
        @Scripts.Render("~/AdminLTEplugins/jquery/js")
    <script src="~/AdminLTE/Kendo2016.3.11/js/jszip.min.js"></script>
    <script src="~/AdminLTE/Kendo2016.3.11/js/kendo.all.min.js"></script>
    <script src="~/AdminLTE/Kendo2016.3.11/js/kendo.web.min.js"></script>

    <script>
        var urlconsultaclientecuenta = '@Url.Action("TraerInformacionCliente", "Retencion")';
        var urlconsultaclientecedula = '@Url.Action("TraerInformacionClienteCedula", "Retencion")';
    </script>

    <script src="~/Scripts/Retencion/RegistroSetguimientos.js?1.0.3"></script>
        }
</body>
</html>
