@model Telmexla.Servicios.DIME.Entity.VIMGestion
@{ ViewBag.Title = "Registro y Actualización de Tipos de Gestión";
    ViewBag.SubTitle = "Procesos - Cierre de Ciclo";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("AdministrarGestiones", "VerificacionDeInventario", FormMethod.Post, new { id = "tiposdegestion", role = "form" }))
{ 
    @Html.AntiForgeryToken()
    <div class="box box-danger">
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12">

                </div>
            </div>
        </div>
        @if (Model.IdGestion > 0)
        {

        <a href="@Url.Action("ListaSubrazones", "VerificacionDeInventario", new { IdGestion = Model.IdGestion })" style="margin-right:15px; float:right;">
            <span class="fa fa-cog" aria-hidden="true"></span> <span class="glyphicon-class" style="font-size:medium;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Administrar Sub Razones </span>
        </a>}
        <h2 class="page-header" style="margin-top: 0px; margin-left:1px;">
            <i class="fa fa-headphones"></i> Información del Tipo de Gestión
        </h2>
        <div id="ARBOL" style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px; margin-top:-10px; padding-right:10px;">
            <br />
            <table>
                <tr>
                    <td style="padding-left:1px; width:200px;">
                        <small>Id Gestión</small>
                        @Html.TextBoxFor(m => m.IdGestion, new { @class = "form-control input-sm", @readonly = "true", @Id = "Id" })
                    </td>
                    <td style="padding-left:1px; width:280px;">
                        <small>Gestión</small>
                        @Html.TextBoxFor(m => m.Gestion, new { @class = "form-control input-sm", @Id = "tipodeequipo" })
                    </td>
                    <td style="padding-left:4px; width:280px;">
                        <small>Estado</small>
                        @Html.DropDownListFor(m => m.Estado, new List<SelectListItem> {new SelectListItem{Text="ACTIVO", Value="ACTIVO" },
                                                                                             new SelectListItem{Text="INACTIVO", Value="INACTIVO" }},
                                                                                               "--SELECCIONE--", new { @class = "form-control input-sm" })
                    </td>

                </tr>

            </table>
        </div>
        <br />
    </div>

    <div class="box box-danger">
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12">

                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-block btn-primary" name="GRARDARDATOS" value="true" style="width:10%;  margin-left:1%;">Guardar</button><br />

    </div>
}

