@model Telmexla.Servicios.DIME.Entity.ViewModelSubmotivosCancelacion
@{
    ViewBag.Title = "Actualizar Submotivo Cancelacion";
    ViewBag.Subtitle = "Fidelizacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("ActualizarSubmotivoCancelacion", "Fidelizacion", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="box box-danger">
                <div class="box-body">
                    <div class="col-md-12">
                        <small>Id Submotivo</small>
                        @Html.TextBoxFor(r => r.FidelizacionSubmotivos.Id, null, new { id = "txtIdMotivo", @class = "form-control input-sm", @readonly = "true" })
                        @Html.ValidationMessageFor(r => r.FidelizacionSubmotivos.Id, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-12">
                        <small>Submotivo</small>
                        @Html.TextBoxFor(r => r.FidelizacionSubmotivos.Submotivo, null, new { @class = "form-control input-sm ", Id = "txtSubmotivoCanceelaciion" })
                        @Html.ValidationMessageFor(m => m.FidelizacionSubmotivos.Submotivo, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-12">
                        <small>Motivo</small>
                        @Html.DropDownListFor(r => r.FidelizacionSubmotivos.FIDMotivoId, (IEnumerable<SelectListItem>)ViewBag.sltMotivos,  new { Id = "sltMotivoCancelacion", @class = "form-control" })
                        @Html.ValidationMessageFor(r => r.FidelizacionSubmotivos.FIDMotivoId, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-12">
                        <small>Eliminar</small>
                        @Html.DropDownListFor(r => r.FidelizacionSubmotivos.Eliminado, new List<SelectListItem> { new SelectListItem { Text = "SI", Value = "1", Selected = true }, new SelectListItem { Text = "NO", Value = "0", Selected = false } }, new { Id = "sltEliminado", @class = "form-control" })
                        @Html.ValidationMessageFor(r => r.FidelizacionSubmotivos.FIDMotivoId, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-12 text-center" style="padding-top:0.8em">
                        <button id="btnguardarpom" type="submit" class="btn btn-primary" name="Guardar" value="true">Guardar</button>
                        <button id="btnguardarpom" type="button" onclick="redirectList()" class="btn btn-danger" name="Guardar" value="true">Ver Listado</button>
                    </div>
                    <div class="col-md-12 text-center">
                        
                    </div>

                    @*@if (ViewBag.nodoExisteError != null){
                            <div class="alert alert-dange">@ViewBag.nodoExisteError.ToString()</div>
                            <label style="font-size:16px; color:red;font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight: 400;">@ViewBag.nodoExisteError.ToString() </label>
                        }*@



                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    @*if (Session["Administracion Nodos"] != null)
    {
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="page-header" style="margin-top:25px"><i class="fa fa-recycle"></i> Actualizar Nodo:</h2>
                            <div style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px; margin-top:-10px; margin-left: -10px; padding-right:10px;">
                                <div class="box-body">
                                    <div class="tab-content" style="width:1100px;">
                                        <div role="tabpanel" class="tab-pane tab-dime-first active " id="solicitudcreaciondireccion">
                                            <table>
                                                <tr>
                                                    <td width="200" style="padding:1px;">
                                                        <small>Id Nodo:</small>
                                                        @Html.TextBoxFor(m => m.MaestroNodo.IdNodo, null, new { id = "nodo", @class = "form-control input-sm", @readonly = "true" })
                                                        @Html.ValidationMessageFor(m => m.MaestroNodo.IdNodo, "", new { @class = "text-danger" })
                                                    </td>
                                                    <td width="200" style="padding:1px;">
                                                        <small>Nodo:</small>
                                                        @Html.TextBoxFor(m => m.MaestroNodo.Nodo, null, new { id = "nodo", @class = "form-control input-sm" })
                                                        @Html.ValidationMessageFor(m => m.MaestroNodo.Nodo, "", new { @class = "text-danger" })
                                                    </td>
                                                    <td width="200" style="padding:1px;">
                                                        <small>Nombre Nodo:</small>
                                                        @Html.TextBoxFor(m => m.MaestroNodo.NombreNodo, null, new { id = "nombrenodo", @class = "form-control input-sm" })
                                                        @Html.ValidationMessageFor(m => m.MaestroNodo.NombreNodo, "", new { @class = "text-danger" })
                                                    </td>
                                                    <td width="200" style="padding:1px;">
                                                        <small>Div:</small>
                                                        @Html.TextBoxFor(m => m.MaestroNodo.Div, null, new { id = "div", @class = "form-control input-sm" })
                                                        @Html.ValidationMessageFor(m => m.MaestroNodo.Div, "", new { @class = "text-danger" })
                                                    </td>
                                                    <td width="200" style="padding:1px;">
                                                        <small>Com:</small>
                                                        @Html.TextBoxFor(m => m.MaestroNodo.Com, null, new { id = "com", @class = "form-control input-sm" })
                                                        @Html.ValidationMessageFor(m => m.MaestroNodo.Com, "", new { @class = "text-danger" })
                                                    </td>
                                                    <td width="200" style="padding:1px;">
                                                        <small>Divisional:</small>
                                                        @Html.TextBoxFor(m => m.MaestroNodo.Divisional, null, new { id = "divisional", @class = "form-control input-sm" })
                                                        @Html.ValidationMessageFor(m => m.MaestroNodo.Divisional, "", new { @class = "text-danger" })
                                                    </td>
                                                    <td width="200" style="padding:1px;">
                                                        <small>Area:</small>
                                                        @Html.TextBoxFor(m => m.MaestroNodo.Area, null, new { id = "area", @class = "form-control input-sm" })
                                                        @Html.ValidationMessageFor(m => m.MaestroNodo.Area, "", new { @class = "text-danger" })
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td width="200" style="padding:1px;">
                                                        <small>Distrito:</small>
                                                        @Html.TextBoxFor(m => m.MaestroNodo.Distrito, null, new { id = "distrito", @class = "form-control input-sm" })
                                                        @Html.ValidationMessageFor(m => m.MaestroNodo.Distrito, "", new { @class = "text-danger" })
                                                    </td>
                                                    <td width="200" style="padding:1px;">
                                                        <small>Ugestion:</small>
                                                        @Html.TextBoxFor(m => m.MaestroNodo.Ugestion, null, new { id = "ugestion", @class = "form-control input-sm" })
                                                        @Html.ValidationMessageFor(m => m.MaestroNodo.Ugestion, "", new { @class = "text-danger" })
                                                    </td>
                                                    <td width="200" style="padding:1px;">
                                                        <small>Estado:</small>
                                                        @Html.DropDownListFor(m => m.MaestroNodo.Estado, new List<SelectListItem> {new SelectListItem{Text="ACT", Value="ACT" },
                                                                                             new SelectListItem{Text="NACT", Value="NACT" }}, "--SELECCIONE--", new { @class = "form-control input-sm" })
                                                        @Html.ValidationMessageFor(m => m.MaestroNodo.Estado, "", new { @class = "text-danger" })
                                                    </td>
                                                    <td width="200" style="padding:1px;">
                                                        <small>Red:</small>
                                                        @Html.TextBoxFor(m => m.MaestroNodo.Red, null, new { id = "red", @class = "form-control input-sm" })
                                                        @Html.ValidationMessageFor(m => m.MaestroNodo.Red, "", new { @class = "text-danger" })
                                                    </td>
                                                    <td width="200" style="padding:1px;">
                                                        <small>Aliado:</small>
                                                        @Html.TextBoxFor(m => m.MaestroNodo.Aliado, null, new { id = "aliado", @class = "form-control input-sm" })
                                                        @Html.ValidationMessageFor(m => m.MaestroNodo.Aliado, "", new { @class = "text-danger" })
                                                    </td>
                                                    <td width="200" style="padding:1px;">
                                                        <small>Nombre Comunidad:</small>
                                                        @Html.TextBoxFor(m => m.MaestroNodo.NombreComunidad, null, new { id = "comunidad", @class = "form-control input-sm" })
                                                        @Html.ValidationMessageFor(m => m.MaestroNodo.NombreComunidad, "", new { @class = "text-danger" })
                                                    </td>
                                                    <td width="200" style="padding:1px;">
                                                        <small>Departamento:</small>
                                                        @Html.TextBoxFor(m => m.MaestroNodo.Departamento, null, new { id = "departamento", @class = "form-control input-sm" })
                                                        @Html.ValidationMessageFor(m => m.MaestroNodo.Departamento, "", new { @class = "text-danger" })
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div><br />
                                    <button type="submit" class="btn btn-primary" name="cdgardar" value="true" style="width:10%; height:40px;">Guardar Datos</button><br />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        @section Scripts{
            @Scripts.Render("~/AdminLTEplugins/jquery-validate/js")

        }
    }
    else
    {
        <div class="row">

            <div class="box box-primary">

                <div class="box-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="error-page">
                                <h2 class="headline text-red" style="margin-top:-18px;">502</h2>
                                <div class="error-content">
                                    <h3><i class="fa fa-warning text-red"></i> Oops! Acceso Denegado.</h3>
                                    <p style="text-align:justify;">
                                        La información que se relaciona en esta vista no es posible visualizarse ya que su perfil no posee el acceso necesario.
                                        Por favor solicite al administrador del sistema el acceso correspondiente.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }*@
}
@section Scripts{
    
        <script src="~/Scripts/Fidelizacion/CrearSubmotivoCancelacion.js?1.0.0"></script>
    <script>
            redirectList = function () {
                window.location.href = 'ListarSubmotivosCancelacion';
            }
    </script>
    
}