@model Telmexla.Servicios.DIME.Entity.ViewModelRecursiva
@{
    ViewBag.Title = "Actualizar Estrategia";
    ViewBag.Subtitle = "Fidelizacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("ActualizarRecursiva", "Fidelizacion", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    if (Session["Administracion Fidelizacion"] != null)
    {
        var listado = ViewBag.Lista;
        var label = ViewBag.label;
        var count = 0;
        var labelCount = 1;
        var tmp = listado[0][0].Nombre;
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="box box-danger">
                    <div class="box-body">
                        <div class="col-md-12">
                            <small>Id Opción</small>
                            @Html.TextBoxFor(r => r.Recursiva.Id, null, new { id = "txtIdEstrategia", @class = "form-control input-sm", @readonly = "true" })
                            @Html.ValidationMessageFor(r => r.Recursiva.Id, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-12">
                            <small>Categoria</small>
                            <select class="form-control input-sm">
                                @foreach (var catPadre in listado[0])
                                {
                                    <option name="sltEstrategias_1" id="sltEstrategias_1" value="@catPadre.Id" selected="@catPadre.Label">@catPadre.Nombre</option>
                                }
                            </select>
                            @*@Html.DropDownList(null, (IEnumerable<SelectListItem>)listado[0], "-SELECCIONE-", new { name= "sltEstrategias_1", Id = "sltEstrategias_1", onchange = "getChild(this.value, 'label_1', '')", @class = "form-control input-sm" })*@
                        </div>
                        <div class="col-md-12" id="divEstrategias">
                            @foreach (var item in listado)
                            {
                                if (count > 0)
                                {
                                    <div class="col-md-12" id="level_@labelCount">
                                        <small>@label[count] Padre</small>
                                        <select class="form-control input-sm">
                                            @foreach (var itemHijos in listado[count])
                                            {
                                               <option name="sltEstrategias_@labelCount" id="sltEstrategias_@labelCount" value="@itemHijos.Id" selected="@itemHijos.Label">@itemHijos.Nombre</option>
                                            }
                                            @*@Html.DropDownList("sltEstrategias_" + @labelCount, (IEnumerable<SelectListItem>)item, "-SELECCIONE-", new { Id = "sltEstrategias_" + @labelCount, onchange = "getChild(this.value, 'label_" + @labelCount + "', '')", @class = "form-control input-sm" })*@
                                        </select>
                                    </div>
                                }


                                count++;
                                labelCount++;


                            }
                            @*<div class="col-md-12" id="level_@labelCount">
                                <small>Padre</small>
                                <select name="sltEstrategias_@labelCount" id="sltEstrategias_@labelCount" class="form-control input-sm">
                                    <option value="0" >-Ninguno-</option>
                                </select>
                            </div>*@

                        </div>




                        <div class="col-md-12">
                            <small>Opcion</small>
                            @Html.TextBoxFor(m => m.Recursiva.Nombre, null, new { @class = "form-control input-sm ", Id = "txtNombreRecursiva" })
                            @Html.ValidationMessageFor(m => m.Recursiva.Nombre, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-12">
                            <small>Padre</small>
                            @*@Html.DropDownList("new", (IEnumerable<SelectListItem>)ViewBag.Lista[2], "-SELECCIONE-", new { Id = "sltPadreRecursiva", @class = "form-control input-sm" })
                                @Html.DropDownListFor(m => m.Recursiva.ParentId, new List<SelectListItem> { }, "--SELECCIONE--", new { Id = "sltPadreRecursiva", @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.Recursiva.ParentId, "", new { @class = "text-danger" })*@

                        </div>
                        <div class="col-md-12">
                            <small>Etiqueta</small>
                            @Html.TextBoxFor(m => m.Recursiva.Label, null, new { @class = "form-control input-sm ", Id = "txtLabel" })
                            @Html.ValidationMessageFor(m => m.Recursiva.Label, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-12 text-center">

                            @if (Model.Recursiva.VerNivel != null)
                            {
                                if ((Model.Recursiva.VerNivel.Substring(0, 1)) == "1")
                                {
                                    @: @Html.CheckBox("Contencion", true) Contencion
                        }
                                else
                                {
                                    @: @Html.CheckBox("Contencion", false) Contencion
                        }
                        if ((Model.Recursiva.VerNivel.Substring(1, 1)) == "1")
                        {
                                    @: @Html.CheckBox("Retencion", true) Retencion
                        }
                        else
                        {
                                    @: @Html.CheckBox("Retencion", false) Retencion
                        }
                        if ((Model.Recursiva.VerNivel.Substring(2, 1)) == "1")
                        {
                                    @: @Html.CheckBox("Recuperacion", true) Recuperacion
                        }
                        else
                        {
                                    @: @Html.CheckBox("Recuperacion", false) Recuperacion
                        }
                            }
                            else
                            {
                                @: @Html.CheckBox("Contencion") Contencion
                                @: @Html.CheckBox("Retencion") Retencion
                                @: @Html.CheckBox("Recuperacion") Recuperacion
                        }

                        </div>


                        <div class="col-md-12 text-center" style="padding-top:0.8em">
                            <button id="btnValida" type="button" class="btn btn-primary" name="Validar">Validar</button>
                            <button id="btnguardarpom" type="submit" class="btn btn-primary" name="Guardar" value="true">Guardar</button>
                            <button id="btnguardarpom" type="button" onclick="redirectList()" class="btn btn-danger" name="Guardar" value="true">Ver Listado</button>
                        </div>
                        <div class="col-md-12 text-center">

                        </div>

                        @*@if (ViewBag.nodoExisteError != null){
                                <div class="alert alert-dange">@ViewBag.nodoExisteError.ToString()</div>
                                <label style="font-size:16px; color:red;font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight: 400;">@ViewBag.nodoExisteError.ToString() </label>
                            }*@



                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    }
    else
    {
        <div class="row">

            <div class="box box-primary">

                <div class="box-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="error-page">
                                <h2 class="headline text-red" style="margin-top:-18px;">502</h2>
                                <div class="error-content">
                                    <h3><i class="fa fa-warning text-red"></i> Oops! Acceso Denegado.</h3>
                                    <p style="text-align:justify;">
                                        La información que se relaciona en esta vista no es posible visualizarse ya que su perfil no posee el acceso necesario.
                                        Por favor solicite al administrador del sistema el acceso correspondiente.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
@section Scripts{

    <script src="~/Scripts/Fidelizacion/CrearSubmotivoCancelacion.js?1.0.0"></script>
    <script src="~/Scripts/Fidelizacion/ActualizarRecursiva.js?v=1.0.0"></script>
    <script>
        $("#btnValida").click(function () {
            alert($("#sltEstrategias_1").val())
        })
        redirectList = function () {
            window.location.href = 'ListarRecursiva';
        }
        var urlGetChilds = '@Url.Action("getHijoRecursivaAdmonJson", "Fidelizacion")';
    </script>

}
<style>
    #divEstrategias div {
        padding: 0px;
    }
</style>