@model Telmexla.Servicios.DIME.Entity.ViewModelRecursiva
@{
    ViewBag.Title = "Crear Recursiva";
    ViewBag.SubTitle = "Procesos Fidelización";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("CrearRecursiva", "Fidelizacion", FormMethod.Post, new { id = "formCrearRecursiva", role = "form" }))
{
    @Html.AntiForgeryToken()
<div class="row">
    <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="box box-danger">
                <div class="box-body">
                    <div class="col-md-12">
                        <small>Opcion</small>
                        @Html.TextBoxFor(m => m.Recursiva.Nombre, null, new { @class = "form-control input-sm ", Id = "txtNombreRecursiva" })
                        @Html.ValidationMessageFor(m => m.Recursiva.Nombre, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-12">
                        <small>Padre</small>
                        @Html.DropDownListFor(m => m.Recursiva.ParentId, new SelectList(ViewBag.Lista, "Id", "Nombre"), "-SELECCIONE-", new { Id = "sltPadreRecursiva", @class = "form-control input-sm" })
                        @*@Html.DropDownListFor(m => m.Recursiva.ParentId, new List<SelectListItem> { }, "--SELECCIONE--", new { Id = "sltPadreRecursiva", @class = "form-control input-sm" })*@
                        @Html.ValidationMessageFor(m => m.Recursiva.ParentId, "", new { @class = "text-danger" })
                        
                    </div>
                    <div class="col-md-12 text-center">
                        @Html.CheckBox("Contencion") Contencion
                        @Html.CheckBox("Retencion") Retencion
                        @Html.CheckBox("Recuperacion") Recuperacion
                    </div>
                    @*<div class="col-md-12">
                        <small>Nota Plantilla</small>
                        @Html.TextAreaFor(z => z.Nota, new { @class = "form-control input-sm ", Id = "txtNota" })
                        @Html.ValidationMessageFor(z => z.Nota, "", new { @class = "text-danger" })
                    </div>  
                    <div class="col-md-12">
                        <small>Nivel que aplica</small>
                    </div>
                        <div class="col-md-12 text-center">
                            @Html.CheckBox("Contencion") Contencion
                            @Html.CheckBox("Retencion") Retencion
                            @Html.CheckBox("Recuperacion") Recuperacion

                        </div>*@
                        <div class="col-md-12 text-center" style="padding-top:0.8em">
                            <button id="btnguardarpom" type="submit" class="btn btn-danger" name="Guardar" value="true">Guardar</button>
                        </div>
                    </div>
            </div>
        </div>
    <div class="col-md-3"></div>
    </div>
    @section Scripts{

        @*<script>
            var UrlListadoPadres = '@Url.Action("ListaPadresRecursivaJson", "Fidelizacion")';
        </script>
        <script src="~/Scripts/Fidelizacion/CrearRecursiva.js?v=1.0.1"></script>*@
        @*<script src="http://malsup.github.com/jquery.form.js"></script>*@
    }
}