@using Dime.Extensions
@model Dime.Models.IndexViewModel
@{
    ViewBag.Title = "Administración";
    ViewBag.SubTitle = "Cambie la configuración de su perfíl";
}

@if (ViewBag.StatusMessage != string.Empty)
{
    <div class="callout callout-info" style="margin-bottom: 0 !important;">
        <h4><i class="fa fa-info"></i> Note:</h4>
        @ViewBag.StatusMessage
    </div>
}

<div class="row">
    <div class="col-md-4">
        <div class="box box-primary">
            <div class="box-body box-profile">
                <img class="profile-user-img img-responsive img-circle" src="~/AdminLTE/dist/img/user.svg" alt="User profile picture">
                <h3 class="profile-username text-center">@User.Identity.GetUserNameIdentifier()</h3>
                <p class="text-muted text-center">@User.Identity.GetUserEmail()</p>
                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Contraseña</b>
                        <div class="pull-right">
                            [@(Model.HasPassword ? Html.ActionLink(" Cambiar su contraseña ", "ChangePassword") : Html.ActionLink("Create", "SetPassword"))]
                        </div>
                    </li>
                    <li class="list-group-item">
                        <b>Preguntas de Seguridad</b>
                        <div class="pull-right">
                            [@(Model.HasPassword ? Html.ActionLink(" Cambiar sus preguntas de seguridad ", "ChangePassword") : Html.ActionLink("Create", "SetPassword"))]
                        </div>
                    </li>
                    <li class="list-group-item">
                        @*
                            Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                             See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                                for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                             Uncomment the following block after you have set up two-factor authentication
                        *@
                        <b>Número Telefónico</b>
                        <div class="pull-right">
                            @(Model.PhoneNumber ?? "Ninguno") [
                            @if (Model.PhoneNumber != null)
                            {
                                @Html.ActionLink("Change", "AddPhoneNumber")
                                @: &nbsp;|&nbsp;
                                @Html.ActionLink("Remove", "RemovePhoneNumber")
                            }
                            else
                            {
                                @Html.ActionLink("Agregar", "AddPhoneNumber")
                            }
                            ]
                        </div>
                    </li>
             
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8"></div>
</div>
