@model Telmexla.Servicios.DIME.Entity.ViewModelTraslados
@{
    ViewBag.Title = "Gestión Solicitudes Creación de Dirección";
    ViewBag.Subtitle = "Traslados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("GestionarDireccionCelula", "Traslados", FormMethod.Post, new { role = "form", onkeydown = "return event.keyCode!=13" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="page-header" style="margin-top: 40px;">
                                <i class="fa fa-history"></i>&nbsp;&nbsp; Historico de Interacciones
                            </h2>
                            <div style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px; margin-top:-10px; margin-left: -10px; padding-right:10px;">
                                <div class="box-body">
                                    @*<hr style="border-color:gray;border-width:2px;margin-top:-3px;" />*@
                                    <div id="interaccionesSolicitudSeleccionada"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="page-header" style="margin-top: 40px;">
                                <i class="fa fa-info"></i>&nbsp;&nbsp; Información de la Solicitud
                            </h2>
                            <div style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px; margin-top:-10px; margin-left: -10px; padding-right:10px;">
                                <div class="box-body" id="inforacioningreso">
                                    <table>
                                        <tr>
                                            <td width="200">
                                                <small>Id de Solicitud:</small>
                                                @Html.TextBoxFor(m => m.NotaTrasladoInicial.IdTransaccion, new { @class = "form-control input-sm", id = "idTransaccion", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Fecha de la Solicitud:</small>
                                                @Html.TextBoxFor(m => m.NotaTrasladoInicial.FechaTransaccion, new { @class = "form-control input-sm", id = "fechaTransaccion", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Usuario Solicitud:</small>
                                                @Html.TextBoxFor(m => m.NotaTrasladoInicial.UsuarioTransaccion, new { @class = "form-control input-sm", id = "usuarioSolicitud", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Linea de Ingreso:</small>
                                                @Html.TextBoxFor(m => m.NotaTrasladoInicial.NombreLineaTransaccion, new { @class = "form-control input-sm", id = "lineaIngreso", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Cuenta del Cliente:</small>
                                                @Html.TextBoxFor(m => m.NotaTrasladoInicial.CuentaCliente, new { @class = "form-control input-sm", id = "cuedntaCliente", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Teléfono Celular:</small>
                                                @Html.TextBoxFor(m => m.NotaTrasladoInicial.TelefonoCelular, new { @class = "form-control input-sm", id = "telefonoCelular", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Teléfono Fijo:</small>
                                                @Html.TextBoxFor(m => m.NotaTrasladoInicial.TelefonoFijo, new { @class = "form-control input-sm", id = "telefonoFijo", @readonly = "true" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="200">
                                                <small>Fecha Actualización:</small>
                                                @Html.TextBoxFor(m => m.NotaTraslado.FechaTransaccion, new { @class = "form-control input-sm", id = "fechaultimaactua", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Usuario Actualización:</small>
                                                @Html.TextBoxFor(m => m.NotaTraslado.UsuarioTransaccion, new { @class = "form-control input-sm", id = "usuarioultimaactualizacion", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Estrato Cliente:</small>
                                                @Html.TextBoxFor(m => m.NotaTrasladoInicial.Estrato, new { @class = "form-control input-sm", id = "estrato", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Nodo:</small>
                                                @Html.TextBoxFor(m => m.NotaTrasladoInicial.Nodo, new { @class = "form-control input-sm", id = "nodo", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Nombre Nodo:</small>
                                                @Html.TextBoxFor(m => m.InformacionNodo.NombreNodo, new { @class = "form-control input-sm", id = "nombrenodo", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Código División:</small>
                                                @Html.TextBoxFor(m => m.InformacionNodo.Div, new { @class = "form-control input-sm", id = "coddivision", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Código Comunidad:</small>
                                                @Html.TextBoxFor(m => m.InformacionNodo.Com, new { @class = "form-control input-sm", id = "codcomunidad", @readonly = "true" })
                                            </td>

                                        </tr>
                                        <tr>
                                            <td width="200">
                                                <small>Área:</small>
                                                @Html.TextBoxFor(m => m.InformacionNodo.Area, new { @class = "form-control input-sm", id = "area", @readonly = "true" })
                                            </td>

                                            <td width="200">
                                                <small>Distrito:</small>
                                                @Html.TextBoxFor(m => m.InformacionNodo.Distrito, new { @class = "form-control input-sm", id = "distrito", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Unidad de Gestión:</small>
                                                @Html.TextBoxFor(m => m.InformacionNodo.Ugestion, new { @class = "form-control input-sm", id = "ugestion", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Estado del Nodo:</small>
                                                @Html.TextBoxFor(m => m.InformacionNodo.Estado, new { @class = "form-control input-sm", id = "estadoNodo", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Red:</small>
                                                @Html.TextBoxFor(m => m.InformacionNodo.Red, new { @class = "form-control input-sm", id = "red", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Ciudad:</small>
                                                @Html.TextBoxFor(m => m.InformacionNodo.NombreComunidad, new { @class = "form-control input-sm", id = "ciudad", @readonly = "true" })
                                            </td>
                                            <td width="200">
                                                <small>Departamento:</small>
                                                @Html.TextBoxFor(m => m.InformacionNodo.Departamento, new { @class = "form-control input-sm", id = "departamento", @readonly = "true" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="1200" colspan="7">
                                                <small>Dirección a Crear:</small>
                                                @Html.TextBoxFor(m => m.NotaTrasladoInicial.DireccionACrear, new { @class = "form-control input-sm", id = "telefonoFijo", @readonly = "true" })
                                            </td>
                                        </tr>
                                    </table>


                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="page-header" style="margin-top: 40px;">
                                <i class="fa fa-clock-o"></i>&nbsp;&nbsp; Gestión Celula Creación de Dirección
                            </h2>
                            <div style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px; margin-top:-10px; margin-left: -10px; padding-right:10px;">
                                <div class="box-body" id="gestioncelulacrdireccion">
                                    <table>
                                        <tr>
                                            <td width="300">
                                                <small>Gestión Realizada:</small>
                                                @Html.DropDownListFor(m => m.NotaTrasladoVacia.Subrazon, new List<SelectListItem> {new SelectListItem{Text="CIUDAD NO ESTA EN POLITICAS ACTUALES DTH", Value="CIUDAD NO ESTA EN POLITICAS ACTUALES DTH" },
                                                                                             new SelectListItem{Text="CUENTA PYMES", Value="CUENTA PYMES" },
                                                                                             new SelectListItem{Text="DIRECCION ESTA ASOCIADA A UNA MATRIZ", Value="DIRECCION ESTA ASOCIADA A UNA MATRIZ" },
                                                                                             new SelectListItem{Text="DIRECCION ESTABA CREADA EN EL SISTEMA", Value="DIRECCION ESTABA CREADA EN EL SISTEMA" },
                                                                                             new SelectListItem{Text="DIRECCION FUERA DE COBERTURA", Value="DIRECCION FUERA DE COBERTURA" },
                                                                                             new SelectListItem{Text="DIRECCION INCOMPLETA", Value="DIRECCION INCOMPLETA" },
                                                                                             new SelectListItem{Text="HHPP REQUIERE CREACION DE MATRIZ", Value="HHPP REQUIERE CREACION DE MATRIZ" },
                                                                                             new SelectListItem{Text="MIGRACION", Value="MIGRACION" },
                                                                                             new SelectListItem{Text="NO COINCIDE COM Y DIV CON LA RED", Value="NO COINCIDE COM Y DIV CON LA RED" },
                                                                                             new SelectListItem{Text="NO INFORMA SI EL HHPP ES CASA O PISO", Value="NO INFORMA SI EL HHPP ES CASA O PISO" },
                                                                                             new SelectListItem{Text="SE CREA DIRECCION CORRECTAMENTE", Value="SE CREA DIRECCION CORRECTAMENTE" },
                                                                                             new SelectListItem{Text="VENTA NUEVA", Value="VENTA NUEVA" },},
                                                               "--SELECCIONE--", new { @class = "form-control input-sm" })
                                            </td>
                                            <td width="300">
                                                <small>Estado del Caso:</small>
                                                @Html.DropDownListFor(m => m.NotaTrasladoVacia.EstadoTransaccion, new List<SelectListItem> {new SelectListItem{Text="EN GESTION", Value="EN GESTION" },
                                                                                             new SelectListItem{Text="NO INGRESADA", Value="NO INGRESADA" },
                                                                                             new SelectListItem{Text="INGRESADA", Value="INGRESADA" },},
                                                               "--SELECCIONE--", new { @class = "form-control input-sm" })
                                            </td>
                                        </tr>
                                    </table>
                                    <table>
                                        <tr>
                                            <td width="1200">
                                                <small>Observaciones:</small>
                                                @Html.TextAreaFor(m => m.NotaTrasladoVacia.Observacion, new { @style = "width: 100%; height: 100px;max-height: 100px;max-width:1200px;" })
                                            </td>
                                        </tr>
                                    </table>


                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="">
                        <button id="submitDatos" type="submit" class="btn btn-primary" name="cambiarDatos" value="true" style="width:10%; height:40px;">Guardar Datos</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts{
    <script>
        var jsonInteraccionesDireccion = @Html.Raw(Json.Encode(Model.ListaNotasCrearDireccion));
    </script>

    <script src="~/Scripts/Traslados/GestionarDireccionCelula.js?1.0.3"></script>
}


