
@{
    ViewBag.Title = "Consulta de Casos";
    ViewBag.Subtitle = "Escalamientos a Célula";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["Escalamientos Sac"] != null)
{
    <div class="callout callout-danger" style="margin-bottom: 0 ; background-color:rgb(255, 255, 255) !important; padding: 0 0 0 0; color: black !important;">
        <div style="background-color:#dcdcdc; padding-top:15px; padding-left:15px; padding-bottom:15px;">
            <div class="row">
                <div class="col-xs-2">
                    <small>Cuenta Cliente:</small>
                </div>
                <div class="col-xs-2">
                    <small>Id de Ingreso:</small>
                </div>
                @if (Session["ModoLogin"] != null && Session["ModoLogin"].ToString().Equals("1"))
                {
                    <div class="col-xs-2">
                        <small>RR:</small>
                    </div>
                    <div class="col-xs-2">
                        <small>Usuario  de Creación:</small>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <table>
                        <tr>
                            <td style="width:200px; padding:1px;">
                                <input type="text" class="form-control" id="cuentaCliente" />
                            </td>
                            <td style="width:200px;padding:1px;">
                                <input type="text" class="form-control" id="idIngreso" />
                            </td>
                            @if (Session["ModoLogin"] != null && Session["ModoLogin"].ToString().Equals("1"))
                            {
                                <td style="width:200px; padding:1px;">
                                    <input type="text" class="form-control" id="ticketRR" />
                                </td>
                                <td style="width:200px;padding:1px;">
                                    <input type="text" class="form-control" id="usuarioCreacion" />
                                </td>
                            }
                        </tr>
                    </table>                  
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12" style="width:100%; ">
            <div class="box box-danger">
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            
                            <h2 class="page-header" style="margin-top:25px">
                                <i class="fa fa-archive"></i> Resultado
                            </h2>
                            <div id="3_ofre" style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px; margin-top:-10px; margin-left: -10px; padding-right:10px;">
                                <div>
                                    <br/>
                                    <div id="gridViewConsulta"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





@section scripts
{<script>
    var modoLoginUsuario = @Session["ModoLogin"].ToString();
    var urlConsultaCuenta = '@Url.Action("ConsultaCasosAbiertosPorCuenta", "Consultas")';
    var urlConsultaIdIngreso = '@Url.Action("ConsultaCasosAbiertosPorIdIngreso", "Consultas")';
    var urlConsultaTicket = '@Url.Action("ConsultaCasosAbiertosPorTicketRr", "Consultas")';
    var urlConsultaUserCreacion = '@Url.Action("ConsultaCasosAbiertosPorUsuarioCreacion", "Consultas")';
    </script>
<script src="~/Scripts/Consultas/ConsultaCasosAbiertos.js?1.0.2"></script>
}
}
else
{
    <div class="row">

        <div class="box box-primary">

            <div class="box-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="error-page">
                            <h2 class="headline text-red" style="margin-top:-18px;">502</h2>
                            <div class="error-content">
                                <h3><i class="fa fa-warning text-red"></i> Oops! Acceso Denegado.</h3>
                                <p style="text-align:justify;">
                                    La información que se relaciona en esta vista no es posible visualizarse ya que su perfil no posee el acceso necesario.
                                    Por favor solicite al administrador del sistema el acceso correspondiente.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}