@model Telmexla.Servicios.DIME.Entity.ViewModelBitacoraIncidentes
@{
    ViewBag.Title = "Actualización de Incidentes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["Registrar Incidente - COS"] != null)
{
    using (Html.BeginForm("ActualizacionDeIncidentes", "BitacoraIncidentes", FormMethod.Post, new { id = "Registro", role = "form" }))
    {
        <div class="row">
            <div class="col-md-9" style="width:100%; ">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li id="Li1" style="background-color: #dcdcdc; border-color: #c23321" class="active"><a href="#solicitudcreaciondireccion" aria-controls="solicitudcreaciondireccion" data-toggle="tab" role="tab" style="background-color:#dcdcdc;">Incidente</a></li>

                    </ul>

                    <div class="tab-content" style="padding-left:0; padding-top: 0">
                        <div role="tabpanel" class="tab-pane tab-dime-first active" style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px;" id="solicitudcreaciondireccion">
                            <br />
                            <table>
                                <tr>

                                    <td style="padding-left:4px; width:300px;">
                                        <small>Caso SD</small>
                                        @Html.TextBoxFor(m => m.BIPBitacoraIncidentes.CasoSD, new { @class = "form-control input-sm", @Id = "CasoSD" })
                                        @Html.HiddenFor(m => m.BIPBitacoraIncidentes.IdRegistro, new { @class = "form-control input-sm", @Id = "idRegistro" })
                                    </td>
                                    <td style="padding-left:4px; width:300px;">
                                        <small>IM</small>
                                        @Html.TextBoxFor(m => m.BIPBitacoraIncidentes.IM, new { @class = "form-control input-sm", @Id = "IM" })
                                    </td>
                                    <td style="padding-left:4px; width:300px;">
                                        <small>Fecha de Creación Ticket</small>
                                        @Html.TextBoxFor(m => m.BIPBitacoraIncidentes.FechaDeCreacionTicket, new { @class = "form-control input-sm", @Id = "FechaCreacionTicket", @readonly = "true" })
                                    </td>
                                    <td style="padding-left:4px; width:300px;">
                                        <small>Fecha de Cierre Ticket</small>
                                        @Html.TextBoxFor(m => m.BIPBitacoraIncidentes.FechaDeCierreTicket, new { @class = "form-control input-sm", @Id = "FechaCierreTicket" })
                                    </td>
                                    <td style="padding-left:4px; width:300px;">
                                        <small>Fecha de Cierre Afectación</small>
                                        @Html.TextBoxFor(m => m.BIPBitacoraIncidentes.FechaDeCierreAfectacion, new { @class = "form-control input-sm", @Id = "FechaCierreAfectacion" })
                                    </td>
                                    <td style="padding-left:4px; width:300px;">
                                        <small>Herramienta</small>
                                        @Html.HiddenFor(m => m.BIPBitacoraIncidentes.Herramienta, new { @class = "form-control input-sm", @Id = "Herramienta1" })
                                        @Html.DropDownListFor(m => m.BIPBitacoraIncidentes.Herramienta, new List<SelectListItem> { }, "--SELECCIONE--", new { Id = "Herramienta", @class = "form-control"})
                                    </td>

                                </tr>
                                <tr>

                                    <td style="padding-left:4px; width:300px;">
                                        <small>Tipo de Falla</small>
                                        @Html.HiddenFor(m => m.BIPBitacoraIncidentes.TipoDeFalla, new { @class = "form-control input-sm", @Id = "TipoDeFalla1" })
                                        @Html.DropDownListFor(m => m.BIPBitacoraIncidentes.TipoDeFalla, new List<SelectListItem> { }, "--SELECCIONE--", new { Id = "TipoDeFalla", @class = "form-control" })
                                    </td>
                                    <td style="padding-left:4px; width:300px;">
                                        <small>Módulo Afectado</small>
                                        @Html.TextBoxFor(m => m.BIPBitacoraIncidentes.ModuloAfectado, new { @class = "form-control input-sm", @Id = "ModuloAfectado" })
                                    </td>
                                    <td style="padding-left:4px; width:300px;">
                                        <small>Prioridad</small>
                                        @Html.HiddenFor(m => m.BIPBitacoraIncidentes.Prioridad, new { @class = "form-control input-sm", @Id = "Prioridad1" })
                                        @Html.DropDownListFor(m => m.BIPBitacoraIncidentes.Prioridad, new List<SelectListItem> { }, "--SELECCIONE--", new { Id = "Prioridad", @class = "form-control" })
                                    </td>
                                    <td style="padding-left:4px; width:600px;" colspan="2">
                                        <small>Escalado A</small>
                                        @Html.TextBoxFor(m => m.BIPBitacoraIncidentes.EscaladoA, new { @class = "form-control input-sm", @Id = "EscaladoA" })
                                    </td>

                                    <td style="padding-left:4px; width:300px;">
                                        <small>Usuarios Afectados</small>
                                        @Html.TextBoxFor(m => m.BIPBitacoraIncidentes.CantidadUsuariosAfectados, new { @class = "form-control input-sm", @Id = "CantidadUserAfectados" })
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <small>Estado del Incidente</small>
                                        @Html.DropDownListFor(m => m.BIPBitacoraIncidentes.EstadoDelCaso, new List<SelectListItem> {new SelectListItem{Text="EN GESTION", Value="EN GESTION" },
                                                                                             new SelectListItem{Text="FINALIZADO", Value="FINALIZADO" }},
                                                                                                              "--SELECCIONE--", new { @class = "form-control input-sm" })
                                    </td>
                                </tr>
                            </table>
                            <table>
                                <tr>
                                    <td colspan="7" style="padding:1px; width:1200px;">
                                        <small>Descripción de la Afectación O Observaciones</small>
                                        @Html.TextAreaFor(m => m.BIPBitacoraIncidentes.DescripcionAfectacion, new { @class = "form-control input-sm", style = "width:100%; height:70px;", type = "text" })
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="7" style="padding:1px; width:1200px;">
                                        <small>Comentarios de Cierre</small>
                                        @Html.TextAreaFor(m => m.BIPBitacoraIncidentes.ComentariosDeCierre, new { @class = "form-control input-sm", style = "width:100%; height:70px;", type = "text" })
                                    </td>
                                </tr>
                            </table>

                        </div>
                        <br />
                        <table style="margin-left:5px;">
                            <tr>
                                <td width="50" style="padding:2px;"><button type="submit" class="btn btn-block btn-success" name="GRARDARDATOS" value="true" style="width:100%;">Guardar</button></td>
                                <td width="50" style="padding:2px;"><a style="width:100%;" class="btn btn-block btn-danger" href="@Url.Action("ActualizarOperacionesIncidente", "BitacoraIncidentes",new {IdRegistro=Model.BIPBitacoraIncidentes.IdRegistro})">Omitir </a></td>
                            </tr>
                        </table>
                        
                        
                        <br />
                    </div>
                </div>
            </div>

        </div>

    }

    @section Scripts{
        <script>
            var UrlHerramientas = '@Url.Action("ListaHerramientasJson", "BitacoraIncidentes")';
            var UrlListaTipoDeFalla = '@Url.Action("ListaTipoDeFallaJson", "BitacoraIncidentes")';
            var UrlListaPrioridades = '@Url.Action("ListaPrioridadesJson", "BitacoraIncidentes")';
        </script>

        <script src="~/Scripts/Gestion_Blending/jquery.datetimepicker.full.js?1.0.1"></script>
        <link href="~/Styles/Elements/jquery.datetimepicker.css?1.0.1" rel="stylesheet" />
        <script src="~/Scripts/BitacoraIncidentes/ActualizacionDeIncidentes.js?1.0.0"></script>
    }


}
else
{
    <div class="row">

        <div class="box box-primary">

            <div class="box-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="error-page">
                            <h2 class="headline text-red" style="margin-top:-18px;">502</h2>
                            <div class="error-content">
                                <h3><i class="fa fa-warning text-red"></i> Oops! Acceso Denegado.</h3>
                                <p style="text-align:justify;">
                                    La información que se relaciona en esta vista no es posible visualizarse ya que su perfil no posee el acceso necesario.
                                    Por favor solicite al administrador del sistema el acceso correspondiente.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

