@model Telmexla.Servicios.DIME.Entity.ViewModelBitacoraIncidentes
@{
    ViewBag.Title = "Visualizador de Incidentes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Styles/Bitacora/Visualizador.css" rel="stylesheet" />
@using (Html.BeginForm("VisualizadordeIncidentes", "BitacoraIncidentes", FormMethod.Post, new { id = "Registro", role = "form" }))
{
<div class="row">
    <div class="col-md-9" style="width:100%; ">
        <div class="alert" style="width:100%;height:auto; background-color:white;position:absolute;">
            <div class="Rojo">
                <div>
                    <div class="Title">
                        <div style="font-size:20px;font-family:sans-serif;">
                            &nbsp; <i class="ion-android-alert text-bold"></i> INFORMACIÓN INCIDENCIA CLARO
                        </div>
                    </div>
                    <div style="max-width:5%;float:left; margin-left:2%;text-align:center;align-content:center;"><img src="~/Resources/Images/Claro.png" height="50" width="50" /></div>
                </div>
                <div style="border-style:solid;border-color:black;border-top-width:1px;border-bottom-width:0px; float:left;width:100%;margin-top:5px;"></div>
                <div class="content1">
                    <div class="Inicio">
                        <small>INICIO</small>
                    </div>
                    <table>
                        <tr>
                            <td style="border-style:solid;border-color:black;border-bottom-width:1px;border-top-width:0px;border-left-width:0px;border-right-width:1px; padding-left:2px;">
                                <small>Fecha:</small>
                            </td>
                            <td class="dos" style="background-color:white;border-style:solid;border-color:black;border-bottom-width:1px;border-top-width:0px;border-left-width:0px;border-right-width:0px;color:black;">
                                @ViewBag.Fecha
                            </td>
                        </tr>
                        <tr>
                            <td style="border-style:solid;border-color:black;border-bottom-width:1px;border-top-width:0px;border-left-width:0px;border-right-width:1px;padding-left:2px;">
                                <small>Hora:</small>
                            </td>
                            <td class="dos" style="background-color:white;border-style:solid;border-color:black;border-bottom-width:1px;border-top-width:0px;border-left-width:0px;border-right-width:0px;color:black;">
                                @ViewBag.Hora
                            </td>
                        </tr>
                        <tr>
                            <td style="border-style:solid;border-color:black;border-bottom-width:0px;border-top-width:0px;border-left-width:0px;border-right-width:1px;padding-left:2px;">
                                <small>Prioridad:</small>
                            </td>
                            <td class="dos" style="background-color:white;border-style:solid;border-color:black;border-bottom-width:0px;border-top-width:0px;border-left-width:0px;border-right-width:0px;color:black;">
                                <b>   @ViewBag.Prioridad</b>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="content2">
                    <div class="SD" >
                        <small>CASO SD</small>
                    </div>
                    <div class="DATOSD">
                        <b>@ViewBag.SD</b>
                    </div>
                    <table>
                        <tr>
                            <td  width="120" style="border-style:solid;border-color:black;border-bottom-width:1px;border-top-width:0px;border-left-width:0px;border-right-width:1px; padding-left:2px;">
                                <small>Aliado Afectado:</small>
                            </td>
                            <td class="dos" style="background-color:white;border-style:solid;border-color:black;border-bottom-width:1px;border-top-width:0px;border-left-width:0px;border-right-width:0px;color:black;font-size:12px;">
                                aliado
                            </td>
                        </tr>
                        <tr>
                            <td width="120" style="border-style:solid;border-color:black;border-bottom-width:0px;border-top-width:0px;border-left-width:0px;border-right-width:1px;padding-left:2px;">
                                <small>Plataforma:</small>
                            </td>
                            <td class="dos" style="background-color:white;border-style:solid;border-color:black;border-bottom-width:0px;border-top-width:0px;border-left-width:0px;border-right-width:0px;color:black;font-size:12px;">
                                @ViewBag.Plataforma
                            </td>
                        </tr>
                       
                    </table>
                </div>
                <div style="border-style:solid;border-color:black;border-top-width:1px;border-bottom-width:0px; float:left;width:100%;margin-top:5px;"></div>
                <div class="TipoRed">
                    <b>AFECTACION</b>
                </div>
                <div style="border-style:solid;border-color:black;border-top-width:1px;border-bottom-width:0px; float:left;width:100%;margin-top:5px;"></div>
                <div class="Content3">
                    @ViewBag.Afectacion
                </div>
            </div>
        </div>
    </div>
</div>
}