@model Telmexla.Servicios.DIME.Entity.ViewModelRecurrencia
@{
    ViewBag.Title = "Recurrencia";
    ViewBag.Suttitle = "Cierre de Ciclo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Recurrencia", "Recurrencia", FormMethod.Post, new { id = "", role = "form", onkeydown = "return event.keyCode!=13" }))
{
<div class="callout callout-danger" style="margin-bottom: 0 ; background-color:rgb(255, 255, 255) !important; padding: 0 0 0 0; color: black !important;">
    <div style="background-color:#dcdcdc; padding-top:15px; padding-left:15px; padding-bottom:15px;">
        <div class="row" style="margin-left: 10px;">
            <div class="col-xs-2" style="width:200px; padding:1px;">
                <small>Número de Cuenta:</small>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <table>
                    <tr>
                        <td style="min-width:200px; padding:1px;">
                            @Html.TextBoxFor(m => m.ClientesTodos.Cuenta, new { @class = "form-control input-sm", placeholder = "Ingrese la cuenta", id = "inputCuenta" })
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-9" style="width:100%; ">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li id="Li1" class="active" style="background-color: #dcdcdc; border-color: #c23321"><a href="#datosBasicos" aria-controls="datosBasicos" data-toggle="tab" role="tab" style="background-color:transparent;">Datos Básicos</a></li>
            </ul>
            <div class="tab-content" style="padding-left:0; padding-top: 0">
                <div role="tabpanel" class="tab-pane tab-dime-first active " id="datosBasicos" style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px;">
                    <table>
                        <tr>
                            <td><br /></td>
                        </tr>
                        <tr>
                            <td width="200" style="padding:1px;">
                                <small>Nombre del Cliente:  </small>
                            </td>
                            <td width="200" style="padding:1px;">
                                <small>Apellido del Cliente:  </small>
                            </td>

                            <td width="200" style="padding:1px;">
                                <small>Teléfono Telmex:  </small>
                            </td>
                            <td width="200" style="padding:1px;">
                                <small>Teléfono 1:  </small>
                            </td>
                            <td width="200" style="padding:1px;">
                                <small>Teléfono 2: </small>
                            </td>
                            <td width="200" style="padding:1px;">
                                <small>Teléfono 3:</small>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:1px;">
                                <input id="Nombre_Cliente" class="form-control input-sm" type="text" placeholder="Nombre del cliente" value="@Model.ClientesTodos.Nombre" readonly>
                            </td>
                            <td style="padding:1px;">
                                <input id="Apellido_Cliente" class="form-control input-sm" type="text" placeholder="Apellido del cliente" value="@Model.ClientesTodos.Apellido" readonly>
                            </td>

                            <td style="padding:1px;">
                                <input class="form-control input-sm" type="text" placeholder="Teléfono telmex" value="@Model.ClientesTodos.TelefonoTelmex" readonly>
                            </td>
                            <td style="padding:1px;">
                                <input class="form-control input-sm" type="text" placeholder="Teléfono 1" value="@Model.ClientesTodos.Telefono1" readonly>
                            </td>
                            <td style="padding:1px;">
                                <input class="form-control input-sm" type="text" placeholder="Teléfono 2" value="@Model.ClientesTodos.Telefono2" readonly>
                            </td>
                            <td style="padding:1px;">
                                <input class="form-control input-sm" type="text" placeholder="Teléfono 3" value="@Model.ClientesTodos.Telefono3" readonly>
                            </td>
                        </tr>
                        <tr>

                            <td style="padding:1px;">
                                <small>Dirección de Instalación: </small>
                            </td>
                            <td style="padding:1px;">
                                <small>Correspondencia:  </small>
                            </td>

                            <td style="padding:1px;">
                                <small>Nodo: </small>
                            </td>
                            <td style="padding:1px;">
                                <small>Red:  </small>
                            </td>
                            <td style="padding:1px;">
                                <small>División:  </small>
                            </td>
                            <td style="padding:1px;">
                                <small>Área:  </small>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:1px;">
                                <input class="form-control input-sm" type="text" placeholder="Dirección de instalación" value="@Model.ClientesTodos.DirInstalacion" readonly>
                            </td>
                            <td style="padding:1px;">
                                <input class="form-control input-sm" type="text" placeholder="Correspondencia" value="@Model.ClientesTodos.DirCorrespondencia" readonly>
                            </td>
                            <td style="padding:1px;">
                                <input class="form-control input-sm" type="text" placeholder="Nodo" value="@Model.ClientesTodos.Nodo" readonly>
                            </td>
                            <td style="padding:1px;">
                                <input class="form-control input-sm" type="text" placeholder="Red" value="@Model.ClientesTodos.Red" readonly>
                            </td>
                            <td style="padding:1px;">
                                <input class="form-control input-sm" type="text" placeholder="División" value="@Model.ClientesTodos.Division" readonly>
                            </td>
                            <td style="padding:1px;">
                                <input class="form-control input-sm" type="text" placeholder="Área" value="@Model.ClientesTodos.Area" readonly>
                            </td>
                        </tr>

                        <tr>

                            <td style="padding:1px;">
                                <small>Zona:</small>
                            </td>
                            <td style="padding:1px;">
                                <small>Distrito:  </small>
                            </td>

                            <td style="padding:1px;">
                                <small>Nombre Comunidad: </small>
                            </td>
                            <td style="padding:1px;">
                                <small>Estrato:  </small>
                            </td>
                            <td style="padding:1px;">
                                <small>Tipo de Cliente:  </small>
                            </td>
                            <td style="padding:1px;">
                                <small>Descripción:  </small>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:1px;">
                                <input class="form-control input-sm" type="text" placeholder="Zona" value="@Model.ClientesTodos.Zona" readonly>
                            </td>
                            <td style="padding:1px;">
                                <input class="form-control input-sm" type="text" placeholder="Distrito" value="@Model.ClientesTodos.Distrito" readonly>
                            </td>
                            <td style="padding:1px;">
                                <input class="form-control input-sm" type="text" placeholder="Nombre comunidad" value="@Model.ClientesTodos.NombreComunidad" readonly>
                            </td>
                            <td style="padding:1px;">
                                <input class="form-control input-sm" type="text" placeholder="Estrato" value="@Model.ClientesTodos.Estrato" readonly>
                            </td>
                            <td style="padding:1px;">
                                <input class="form-control input-sm" type="text" placeholder="Tipo de cliente" value="@Model.ClientesTodos.TipoCliente" readonly>
                            </td>
                            <td style="padding:1px;">
                                <input class="form-control input-sm" type="text" placeholder="Descripción" value="@Model.ClientesTodos.Descripcion" readonly>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="box box-danger">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="page-header" style="margin-top:25px">
                            <i class="fa fa-cubes"></i> MacroProceso
                        </h2>
                        <div style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px; margin-top:-10px; margin-left: -10px; padding-right:10px;">
                            <br />
                            <div class="form-group">
                                <table>
                                    <tr>
                                        <td style="padding-left:1px; width:200px;" colspan="2">
                                            MacroProceso Recurrencia 1:

                                        </td>
                                        <td style="padding-left:1px; width:200px;" colspan="2">
                                            MacroProceso Recurrencia 2:

                                        </td>
                                        <td style="padding-left:1px; width:200px;" colspan="2">
                                            MacroProceso Recurrencia 3:

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <h2 class="page-header" style="margin-top:40px">
                            <i class="fa fa-tty"></i> Marcación
                        </h2>
                        <div style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px; margin-top:-10px; margin-left: -10px; padding-right:10px;">
                            <br />
                            <div class="form-group">
                                <table>
                                    <tr>
                                        <td style="padding-left:1px; width:200px;">
                                            <label>Marcación Recurrente 1:</label>

                                        </td>
                                        <td style="padding-left:1px; width:200px;">
                                            <label>Marcación Recurrente 2:</label>

                                        </td>
                                        <td style="padding-left:1px; width:200px;">
                                            <label>Marcación Recurrente 3:</label>

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <h2 class="page-header" style="margin-top:40px">
                            <i class="fa fa-tty"></i> Interacción con el cliente
                        </h2>
                        <div style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px; margin-top:-10px; margin-left: -10px; padding-right:10px;">
                            <br />
                            <div class="form-group">
                                <table>
                                    <tr>
                                        <td style="padding-left:1px; width:200px;">
                                            <label>Volver a Llamar G.E.:</label>

                                        </td>
                                        <td style="padding-left:1px; width:200px;">
                                            <label>PorQue:</label>

                                        </td>
                                        <td style="padding-left:1px; width:200px;">
                                            <label>Contacto:</label>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left:1px; width:200px;">
                                            <label>Voz del Cliente:</label>
                                        </td>
                                        <td style="padding-left:1px; width:200px;">
                                            <label>Cliente Presenta Novedades:</label>
                                        </td>
                                        <td style="padding-left:1px; width:200px;">
                                            <label>Proceso:</label>
                                        </td>
                                        <td style="padding-left:1px; width:200px;">
                                            <label>MacroProceso:</label>
                                        </td>
                                        <td style="padding-left:1px; width:200px;">
                                            <label>Servicio Afectado:</label>
                                        </td>
                                        <td style="padding-left:1px; width:200px;">
                                            <label>Falla Específica Árbol CCAA:</label>
                                        </td>
                                        <td style="padding-left:1px; width:200px;">
                                            <label>Falla Causa Raíz:</label>
                                        </td>
                                        <td style="padding-left:1px; width:200px;">
                                            <label>Solucuion Específica:</label>
                                        </td>
                                        <td style="padding-left:1px; width:200px;">
                                            <label>Solucionado:</label>
                                        </td>
                                        <td style="padding-left:1px; width:200px;">
                                            <label>Estado:</label>
                                        </td>
                                        <td style="padding-left:1px; width:200px;">
                                            <label>Claro Video/Nagra:</label>
                                        </td>
                                        <td style="padding-left:1px; width:200px;">
                                            <label>Primer Ofrecimiento:</label>
                                        </td>
                                        <td style="padding-left:1px; width:200px;">
                                            <label>Observación Ofrecimiento:</label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <h2 class="page-header" style="margin-top:40px">
                            <i class="fa fa-tty"></i> Observaciones
                        </h2>
                        <div style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px; margin-top:-10px; margin-left: -10px; padding-right:10px;">
                            <br />
                            <div class="form-group">
                                <table>
                                    <tr>
                                        <td style="padding-left:1px; width:200px;">

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button type="submit" style="display:none;" class="btn btn-primary" name="BotonEnvia" value="Buscar" id="BotonEnvia">Submit</button>
@section Scripts{
    <script src="~/Scripts/Recurrencia/Recurrencia.js?1.0.1"></script>
}
}



