@model Telmexla.Servicios.DIME.Entity.ViewModelRecurrencia
@{
    ViewBag.Title = "Recurrencia";
    ViewBag.Suttitle = "Cierre de Ciclo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Recurrencia", "Recurrencia", FormMethod.Post, new { id = "", role = "form", onkeydown = "return event.keyCode!=13" }))
{
    @Html.AntiForgeryToken()
<div class="callout callout-danger" style="margin-bottom: 0 ; background-color:rgb(255, 255, 255) !important; padding: 0 0 0 0; color: black !important;">
    <div style="background-color:#dcdcdc; padding-top:15px; padding-left:15px; padding-bottom:15px;">
        <div class="row" style="margin-left: 10px;">
            <div class="col-xs-2" style="width:200px; padding:1px;">
                <small>Número de Cuenta:</small>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <table>
                    <tr>
                        <td style="min-width:200px; padding:1px;">
                            @Html.TextBoxFor(m => m.GPrincipalRecurrencia.CuentaCliente, new { @class = "form-control input-sm", placeholder = "Ingrese la cuenta", id = "inputCuenta", ReadOnly="true", Value = Model.ClientesTodos.Cuenta })
                        </td>
                        <td>
                            @if (ViewBag.NoDatos2 != "")
                            {
                                <label style="color:red; display:inline-block"> &nbsp;&nbsp; @ViewBag.NoDatos2</label>
                            }
                            @if (ViewBag.NoDatos != "")
                            {
                                <label style="color:red; display:inline-block"> &nbsp;&nbsp; @ViewBag.NoDatos</label>
                            }
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-9" style="width:100%; ">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li id="Li1" class="active" style="background-color: #dcdcdc; border-color: #c23321"><a href="#datosBasicos" aria-controls="datosBasicos" data-toggle="tab" role="tab" style="background-color:transparent;">Datos Básicos</a></li>
                <li id="Li2" class="" style=""><a href="#Seguimientos" aria-controls="Seguimientos" data-toggle="tab" role="tab" style="background-color:transparent;">Seguimientos</a></li>
                <li id="Li3" class="" style="display:@ViewBag.Display;"><a href="#Historial_Seguimientos" aria-controls="Historial_Seguimientos" data-toggle="tab" role="tab" style="background-color:transparent;">Historial</a></li>
            </ul>
            <div class="tab-content" style="padding-left:0; padding-top: 0">
                <div role="tabpanel" class="tab-pane tab-dime-first active " id="datosBasicos" style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px;">
                    <table>
                        <tr>
                            <td><br /></td>
                        </tr>
                        <tr>
                            <td width="200" style="padding:1px;">
                                <small>Nombre del Cliente:  </small>
                            </td>
                            <td width="200" style="padding:1px;">
                                <small>Apellido del Cliente:  </small>
                            </td>

                            <td width="200" style="padding:1px;">
                                <small>Teléfono Telmex:  </small>
                            </td>
                            <td width="200" style="padding:1px;">
                                <small>Teléfono 1:  </small>
                            </td>
                            <td width="200" style="padding:1px;">
                                <small>Teléfono 2: </small>
                            </td>
                            <td width="200" style="padding:1px;">
                                <small>Teléfono 3:</small>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:1px;">
                                @Html.TextBoxFor(m => m.GPrincipalRecurrencia.NombreCliente, new { @class = "form-control input-sm", placeholder = "Nombre del cliente", Value = Model.ClientesTodos.Nombre, ReadOnly = "true" })
                            </td>
                            <td style="padding:1px;">
                                @Html.TextBoxFor(m => m.GPrincipalRecurrencia.ApellidoCliente, new { @class = "form-control input-sm", Value = Model.ClientesTodos.TelefonoTelmex, placeholder = "Apellido del cliente", ReadOnly = "true" })
                            </td>

                            <td style="padding:1px;">
                                @Html.TextBoxFor(m => m.GPrincipalRecurrencia.TelefonoTelmex, new { @class = "form-control input-sm", placeholder = "Teléfono telmex", Value = Model.ClientesTodos.TelefonoTelmex, ReadOnly = "true" })
                            </td>
                            <td style="padding:1px;">
                                @Html.TextBoxFor(m => m.GPrincipalRecurrencia.Telefono1, new { @class = "form-control input-sm", placeholder = "Teléfono 1", Value = Model.ClientesTodos.Telefono1, ReadOnly = "true" })
                            </td>
                            <td style="padding:1px;">
                                @Html.TextBoxFor(m => m.GPrincipalRecurrencia.Telefono2, new { @class = "form-control input-sm", placeholder = "Teléfono 2", Value = Model.ClientesTodos.Telefono2, ReadOnly = "true" })
                            </td>
                            <td style="padding:1px;">
                                @Html.TextBoxFor(m => m.GPrincipalRecurrencia.Telefono3, new { @class = "form-control input-sm", placeholder = "Teléfono 3", Value = Model.ClientesTodos.Telefono3, ReadOnly = "true" })
                            </td>
                        </tr>
                        <tr>

                            <td style="padding:1px;">
                                <small>Dirección de Instalación: </small>
                            </td>
                            <td style="padding:1px;">
                                <small>Correspondencia:  </small>
                            </td>

                            <td style="padding:1px;">
                                <small>Nodo: </small>
                            </td>
                            <td style="padding:1px;">
                                <small>Red:  </small>
                            </td>
                            <td style="padding:1px;">
                                <small>División:  </small>
                            </td>
                            <td style="padding:1px;">
                                <small>Área:  </small>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:1px;">
                                <input class="form-control input-sm" type="text" placeholder="Dirección de instalación" value="@Model.ClientesTodos.DirInstalacion" readonly>
                            </td>
                            <td style="padding:1px;">
                                <input class="form-control input-sm" type="text" placeholder="Correspondencia" value="@Model.ClientesTodos.DirCorrespondencia" readonly>
                            </td>
                            <td style="padding:1px;">
                                <input class="form-control input-sm" type="text" placeholder="Nodo" value="@Model.ClientesTodos.Nodo" readonly>
                            </td>
                            <td style="padding:1px;">
                                <input class="form-control input-sm" type="text" placeholder="Red" value="@Model.ClientesTodos.Red" readonly>
                            </td>
                            <td style="padding:1px;">
                                @Html.TextBoxFor(m => m.GPrincipalRecurrencia.Division, new { @class = "form-control input-sm", placeholder = "División", Value = Model.ClientesTodos.Division, ReadOnly = "true" })
                            </td>
                            <td style="padding:1px;">
                                @Html.TextBoxFor(m => m.GPrincipalRecurrencia.Area, new { @class = "form-control input-sm", placeholder = "Área", Value = Model.ClientesTodos.Area, ReadOnly = "true" })
                            </td>
                        </tr>
                        <tr>

                            <td style="padding:1px;">
                                <small>Zona:</small>
                            </td>
                            <td style="padding:1px;">
                                <small>Distrito:  </small>
                            </td>

                            <td style="padding:1px;">
                                <small>Nombre Comunidad: </small>
                            </td>
                            <td style="padding:1px;">
                                <small>Estrato:  </small>
                            </td>
                            <td style="padding:1px;">
                                <small>Tipo de Cliente:  </small>
                            </td>
                            <td style="padding:1px;">
                                <small>Descripción:  </small>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:1px;">
                                @Html.TextBoxFor(m => m.GPrincipalRecurrencia.Zona, new { @class = "form-control input-sm", placeholder = "Zona", Value = Model.ClientesTodos.Zona, ReadOnly = "true" })
                            </td>
                            <td style="padding:1px;">
                                <input class="form-control input-sm" type="text" placeholder="Distrito" value="@Model.ClientesTodos.Distrito" readonly>
                            </td>
                            <td style="padding:1px;">
                                <input class="form-control input-sm" type="text" placeholder="Nombre comunidad" value="@Model.ClientesTodos.NombreComunidad" readonly>
                            </td>
                            <td style="padding:1px;">
                                <input class="form-control input-sm" type="text" placeholder="Estrato" value="@Model.ClientesTodos.Estrato" readonly>
                            </td>
                            <td style="padding:1px;">
                                <input class="form-control input-sm" type="text" placeholder="Tipo de cliente" value="@Model.ClientesTodos.TipoCliente" readonly>
                            </td>
                            <td style="padding:1px;">
                                <input class="form-control input-sm" type="text" placeholder="Descripción" value="@Model.ClientesTodos.Descripcion" readonly>
                            </td>
                        </tr>

                    </table>
                </div>
                <div id="Seguimientos" class="tab-pane" style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px;">
                    <br /><div id="seguimientosGrid"></div>
                </div>
                <div class="tab-pane" id="Historial_Seguimientos" style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px;">
                    <br /><div id="HistSeguimGrid"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="box box-danger">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="page-header" style="margin-top:25px">
                            <i class="fa fa-fax"></i> Datos Adicionales
                        </h2>
                        <div style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px; margin-top:-10px; margin-left: -10px; padding-right:10px;">
                            <br />
                            <table>
                                <tr>
                                    <td width="200" style="padding:1px;">
                                        <small>Numero de Marcaciones:  </small>
                                    </td>
                                    <td width="200" style="padding:1px;">
                                        <small>Fecha Ultima Marcación:  </small>
                                    </td>
                                    <td width="200" style="padding:1px;">
                                        <small>Fecha Ultima Gestión:  </small>
                                    </td>
                                    <td width="200" style="padding:1px;">
                                        <small>Incluye Claro Video:  </small>
                                    </td>
                                    <td width="200" style="padding:1px;">
                                        <small>Uso Claro Video:  </small>
                                    </td>
                                    <td width="200" style="padding:1px;">
                                        <small>Cliente Nagra:  </small>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:1px;">
                                        @Html.TextBoxFor(m => m.GPrincipalRecurrencia.Marcaciones, new { @class = "form-control input-sm", placeholder = "Marcaciones", Value = Model.CargueBase.Marcaciones, ReadOnly = "true" })
                                    </td>
                                    <td style="padding:1px;">
                                        @Html.TextBoxFor(m => m.GPrincipalRecurrencia.FechaUltimaMarcacion, new { @class = "form-control input-sm", placeholder = "Fecha Ultima Marcacion", Value = Model.CargueBase.FechaUltimaMarcacion, ReadOnly = "true" })
                                    </td>
                                    <td style="padding:1px;">
                                        @Html.TextBoxFor(m => m.GPrincipalRecurrencia.FechaUltimaGestion, new { @class = "form-control input-sm", placeholder = "Fecha Ultima Gestión", Value = Model.CargueBase.FechaUltimaGestion, ReadOnly = "true" })
                                    </td>
                                    <td style="padding:1px;">
                                        @Html.TextBoxFor(m => m.GPrincipalRecurrencia.IncluyeClaroVideo, new { @class = "form-control input-sm", placeholder = "Incluye Claro Video", Value = Model.CargueBase.IncluyeClaroVideo, ReadOnly = "true" })
                                    </td>
                                    <td style="padding:1px;">
                                        @Html.TextBoxFor(m => m.GPrincipalRecurrencia.UsoClaroVideo, new { @class = "form-control input-sm", placeholder = "Uso Claro Video", Value = Model.CargueBase.UsoClaroVideo, ReadOnly = "true" })
                                    </td>
                                    <td style="padding:1px;">
                                        @Html.TextBoxFor(m => m.GPrincipalRecurrencia.ClienteNagra, new { @class = "form-control input-sm", placeholder = "Apellido del cliente", Value = Model.CargueBase.ClienteNagra, ReadOnly = "true" })
                                    </td>
                                </tr>
                                <tr>
                                    <td width="200" style="padding:1px;">
                                        <small>Ofrecimiento 1:  </small>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6" style="padding:1px; width:1200px;">
                                        @Html.TextBoxFor(m => m.GPrincipalRecurrencia.Ofrecimiento1, null, new { @class = "form-control input-sm", @id = "Ofrecimiento", @Value = Model.CargueBase.Ofrecimiento1, @name = "Ofrecimiento", @style = "margin-left:0px; width:100%; height:70px;", @Readonly="true"})
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <small>El cliente acepto este ofrecimiento? </small>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                           @Html.DropDownListFor(m => m.GPrincipalRecurrencia.AceptacionPrimerOfrecimiento, new List<SelectListItem> { },
                                           "--Select Option--",
                                                new { Id = "AceptacionPrimerOfrecimiento", @class = "form-control input-sm" }) 
                                        @Html.ValidationMessageFor(m => m.GPrincipalRecurrencia.AceptacionPrimerOfrecimiento, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td width="200" style="padding:1px;">
                                        <small>Ofrecimiento 2:  </small>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6" style="padding:1px; width:1200px;">
                                        @Html.TextBoxFor(m => m.GPrincipalRecurrencia.Ofrecimiento2, null, new { @class = "form-control input-sm", @id = "Ofrecimiento", @Value = Model.CargueBase.Ofrecimiento2, @name = "Ofrecimiento", @style = "margin-left:0px; width:100%; height:70px;", @Readonly = "true" })
                                    </td>
                                </tr>
                                <tr>
                                    <td >
                                        <small>El cliente acepto este ofrecimiento? </small>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                            @Html.DropDownListFor(m => m.GPrincipalRecurrencia.AceptacionSegundoOfrecimiento, new List<SelectListItem> { },
                                           "--Select Option--",
                                                new { Id = "AceptacionSegundoOfrecimiento", @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(m => m.GPrincipalRecurrencia.AceptacionSegundoOfrecimiento, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td width="200" style="padding:1px;">
                                        <small>Ofrecimiento 3:  </small>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6" style="padding:1px; width:1200px;">
                                        @Html.TextBoxFor(m => m.GPrincipalRecurrencia.Ofrecimiento3, null, new { @class = "form-control input-sm", @id = "Ofrecimiento", @Value =Model.CargueBase.Ofrecimiento3, @name = "Ofrecimiento", @style = "margin-left:0px; width:100%; height:70px;", @Readonly = "true" })
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <small>El cliente acepto este ofrecimiento? </small>
                                    </td>
                                </tr>
                                <tr>
                                    <td >
                                            @Html.DropDownListFor(m => m.GPrincipalRecurrencia.AceptacionTercerOfrecimiento, new List<SelectListItem> { },
                                           "--Select Option--",
                                                new { Id = "AceptacionTercerOfrecimiento", @class = "form-control input-sm" }) 
                                        @Html.ValidationMessageFor(m => m.GPrincipalRecurrencia.AceptacionTercerOfrecimiento, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td width="200" style="padding:1px;">
                                        <small>Diferenciador:  </small>
                                    </td>
                                    <td width="200" style="padding:1px;">
                                        <small>Prioridad:  </small>
                                    </td>
                                    <td width="200" style="padding:1px;">
                                        <small>Veces Gestionado:  </small>
                                    </td>
                                    @*<td width="200" style="padding:1px;">
                                        <small>Fecha Carga de Base:  </small>
                                    </td>*@
                                </tr>
                                <tr>
                                    <td style="padding:1px;">
                                        @Html.TextBoxFor(m => m.GPrincipalRecurrencia.Diferenciador, new { @class = "form-control input-sm", Value = Model.CargueBase.Diferenciador, ReadOnly = "true" })
                                    </td>
                                    <td style="padding:1px;">
                                        @Html.TextBoxFor(m => m.GPrincipalRecurrencia.Prioridad, new { @class = "form-control input-sm", placeholder = "", Value = Model.CargueBase.Prioridad, ReadOnly = "true" })
                                    </td>
                                    <td style="padding:1px;">
                                        @Html.TextBoxFor(m => m.GPrincipalRecurrencia.VecesGestionado, new { @class = "form-control input-sm", placeholder = "", Value = Model.CargueBase.Veces_Gestionado, ReadOnly = "true" })
                                    </td>
                                    @*<td style="padding:1px;">
                                        @Html.TextBoxFor(m => m.GPrincipalRecurrencia, new { @class = "form-control input-sm", placeholder = "Apellido del cliente", ReadOnly = "true" })
                                        <input class="form-control input-sm" type="text" placeholder="" value="@Model.CargueBase.FechaCargueBase" readonly>
                                    </td>*@
                                    
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="box box-danger">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        
                        <h2 class="page-header" style="margin-top:40px">
                            <i class="fa fa-tty"></i> Marcación
                        </h2>
                        <div style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px; margin-top:-10px; margin-left: -10px; padding-right:10px;">
                            <br />
                                <table style="width:100%;">
                                    <tr>
                                        <td style="padding-left:1px; width:200px;">
                                            <small>Marcación Inicial de Afectación: </small>
                                            @Html.TextBoxFor(m=>m.GPrincipalRecurrencia.MarcacionInicialAfectacion, new { Id= "", @class = "form-control input-sm", placeholder = "Marcación Inicial de Afectación" })
                                        </td>
                                        <td style="padding-left:1px; width:200px;">
                                            <small>Marcación Reincidente por la Recurrencia: </small>
                                            @Html.TextBoxFor(m => m.GPrincipalRecurrencia.MarcacionReincidenteRecurrencia, new { id = "", @class = "form-control input-sm", placeholder = "Marcacion Reincidente Recurrente" })
                                        </td>
                                        @*<td style="padding-left:1px; width:200px;">
                                            <small>Marcación Recurrente 3: </small>
                                            @Html.TextBoxFor(m => m.GPrincipalRecurrencia.MarcacionRecurrente3, new { id = "MarcacionRecurrente3", @class = "form-control input-sm", placeholder = "Marcacion Recurrente 3" })
                                        </td>*@
                                    </tr>
                                </table>
                        </div>
                        <h2 class="page-header" style="margin-top:40px">
                            <i class="fa fa-tty"></i> Interacción con el cliente
                        </h2>
                        <div style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px; margin-top:-10px; margin-left: -10px; padding-right:10px;">
                            <br />
                                <table style="width:100%;">
                                    <tr>
                                        <td style="padding-left:1px; width:200px;" colspan="3">
                                            <small>Cliente se Vuelve a Comunicar Despues de Realizada Gestión Recurrentes: </small>
                                            @Html.DropDownListFor(m => m.GPrincipalRecurrencia.ClieComunicaRealizadaGestRecu, new List<SelectListItem> {
                                            new SelectListItem { Text = "SI", Value = "SI" },
                                            new SelectListItem { Text = "NO", Value = "NO" } },
                                           "--Select Option--",
                                                new { Id = "", @class = "form-control input-sm" })
                                            @Html.ValidationMessageFor(m => m.GPrincipalRecurrencia.ClieComunicaRealizadaGestRecu, "", new { @class = "text-danger"})
                                        </td>
                                        <td style="padding-left:1px; width:200px;" colspan="3">
                                            <small>PorQue: </small>
                                            @Html.TextBoxFor(m => m.GPrincipalRecurrencia.PorQue, new { id="PorQue", @class = "form-control input-sm", placeholder = "Digite el Porque" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left:1px; width:200px;">
                                            <small>Contacto: </small>
                                            @Html.DropDownListFor(m => m.GPrincipalRecurrencia.Contacto, new List<SelectListItem> { }, 
                                           "--Select Option--",
                                                new { Id = "Contacto", @class = "form-control input-sm", onchange="SetOpciones();" })
                                            @Html.ValidationMessageFor(m => m.GPrincipalRecurrencia.Contacto, "", new { @class = "text-danger" })
                                        </td>
                                        <td style="padding-left:1px; width:200px;" colspan="2">
                                            <small>Voz del Cliente Causa Raíz: </small>
                                            @Html.TextBoxFor(m => m.GPrincipalRecurrencia.VozClienteCausaRaiz,
                                           new { id="VozCliente", @class = "form-control input-sm", placeholder = "Voz del Cliente Causa Raíz", disabled = "true" })
                                                                                        
                                        </td>
                                        <td style="padding-left:1px; width:200px;">
                                            <small>Fue Solucionado: </small>
                                            @Html.DropDownListFor(m => m.GPrincipalRecurrencia.Solucionado, new List<SelectListItem> { },
                                           "--Select Option--", new { Id = "Solucionado", @class = "form-control input-sm", disabled = "true" })
                                            @Html.ValidationMessageFor(m => m.GPrincipalRecurrencia.Solucionado, "", new { @class = "text-danger"})
                                        </td>
                                        <td style="padding-left:1px; width:200px;">
                                            <small>Área que Participa en la Solución: </small>
                                            @Html.TextBoxFor(m => m.GPrincipalRecurrencia.PorQue, new { id = "AreaParticipaSolucion", @class = "form-control input-sm",
                                           placeholder = "Área que Participo en la Solución", disabled = "true" })
                                            @Html.ValidationMessageFor(m => m.GPrincipalRecurrencia.AreaParticipaSolucion, "", new { @class = "text-danger" })
                                        </td>
                                        <td style="padding-left:1px; width:200px;">
                                            <small>Cliente Presenta Novedades: </small>
                                            @Html.DropDownListFor(m => m.GPrincipalRecurrencia.ClientePresentaNovedades, new List<SelectListItem> { },
                                           "--Select Option--", new { Id = "ClientePresentaNovedades", @class = "form-control input-sm",
                                               disabled = "true", onchange="SetProceso();" })
                                            @Html.ValidationMessageFor(m => m.GPrincipalRecurrencia.ClientePresentaNovedades, "", new { @class = "text-danger" })
                                        </td>                                        
                                    </tr>
                                    <tr>
                                        <td style="padding-left:1px; width:200px;">
                                            <small>Proceso: </small>
                                            @Html.DropDownListFor(m => m.GPrincipalRecurrencia.Proceso, new List<SelectListItem> { },
                                           "--Select Option--", new { Id = "Proceso", @class = "form-control input-sm", disabled = "true", onchange = "SetMacroProceso();" })
                                            @Html.ValidationMessageFor(m => m.GPrincipalRecurrencia.Proceso, "", new { @class = "text-danger" })
                                        </td>
                                        <td style="padding-left:1px; width:200px;">
                                            <small>MacroProceso: </small>
                                            @Html.DropDownListFor(m => m.GPrincipalRecurrencia.Macroproceso, new List<SelectListItem> { },
                                           "--Select Option--", new { Id = "Macroproceso", @class = "form-control input-sm", disabled = "true", onchange = "SetServicioAfectado();" })
                                            @Html.ValidationMessageFor(m => m.GPrincipalRecurrencia.Macroproceso, "", new { @class = "text-danger" })
                                        </td>
                                        <td style="padding-left:1px; width:200px;">
                                            <small>Servicio Afectado: </small>
                                            @Html.DropDownListFor(m => m.GPrincipalRecurrencia.ServicioAfectadoR, new List<SelectListItem> { },
                                           "--Select Option--", new { Id = "ServicioAfectado", @class = "form-control input-sm", disabled = "true", onchange = "SetFallaEspecificaArbol();" })
                                            @Html.ValidationMessageFor(m => m.GPrincipalRecurrencia.ServicioAfectado, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(m => m.GPrincipalRecurrencia.ServicioAfectado, new { @id = "ServicioAfectadoO" })
                                        </td>
                                        <td style="padding-left:1px; width:200px;">
                                            <small>Falla Específica Árbol CCAA: </small>
                                            @Html.DropDownListFor(m => m.GPrincipalRecurrencia.FallaEspecificaArbolCCAAR, new List<SelectListItem> { },
                                           "--Select Option--", new { Id = "FallaEspecificaArbolCCAA", @class = "form-control input-sm", disabled = "true", onchange = "SetFallaCausaRaiz();" })
                                            @Html.ValidationMessageFor(m => m.GPrincipalRecurrencia.FallaEspecificaArbolCCAA, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(m => m.GPrincipalRecurrencia.FallaEspecificaArbolCCAA, new { @id = "FallaEspecificaArbolCCAAO" })
                                        </td>
                                        <td style="padding-left:1px; width:200px;">
                                            <small>Falla Causa Raíz: </small>
                                            @Html.DropDownListFor(m => m.GPrincipalRecurrencia.FallaCausaRaizR, new List<SelectListItem> { },
                                           "--Select Option--", new { Id = "FallaCausaRaiz", @class = "form-control input-sm", disabled = "true", onchange = "SetCampoFallaCausaRaiz();" })
                                            @Html.ValidationMessageFor(m => m.GPrincipalRecurrencia.FallaCausaRaiz, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(m => m.GPrincipalRecurrencia.FallaCausaRaiz, new { @id = "FallaCausaRaizO" })
                                        </td>
                                        <td style="padding-left:1px; width:200px;">
                                            <small>Solucuion Específica: </small>
                                            @Html.DropDownListFor(m => m.GPrincipalRecurrencia.SolucionEspecifica, new List<SelectListItem> { },
                                           "--Select Option--", new { Id = "SolucionEspecifica", @class = "form-control input-sm", disabled = "true", onchange ="SetEstado();" })
                                            @Html.ValidationMessageFor(m => m.GPrincipalRecurrencia.SolucionEspecifica, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left:1px; width:200px;">
                                            <small>Estado: </small>
                                            @Html.DropDownListFor(m => m.GPrincipalRecurrencia.Estado, new List<SelectListItem> { },
                                           "--Select Option--", new { Id = "Estado", @class = "form-control input-sm", disabled = "true", onchange= "SetMarcaEquiposFalla();" })
                                            @Html.ValidationMessageFor(m => m.GPrincipalRecurrencia.Estado, "", new { @class = "text-danger"})
                                        </td>
                                        <td style="padding-left:1px; width:200px;">
                                            <small>Marca Equipos con Falla: </small>
                                            @Html.DropDownListFor(m => m.GPrincipalRecurrencia.MarcaEquiposFalla, new List<SelectListItem> { },
                                           "--Select Option--", new { Id = "MarcaEquiposFalla", @class = "form-control input-sm", disabled = "true" })
                                            @Html.ValidationMessageFor(m => m.GPrincipalRecurrencia.MarcaEquiposFalla, "", new { @class = "text-danger" })
                                        </td>
                                        <td style="padding-left:1px; width:200px;">
                                            <small>Claro Video/Nagra: </small>
                                            <small>
                                                @Html.DropDownListFor(m => m.GPrincipalRecurrencia.ActivacionClaroVideoNagra, new List<SelectListItem> {},
                                            "--Select Option--", new { Id = "ActivacionClaroVideoNagra", @class = "form-control input-sm", disabled = "true" })
                                            @Html.ValidationMessageFor(m => m.GPrincipalRecurrencia.ActivacionClaroVideoNagra, "", new { @class = "text-danger" })
                                            </small>
                                        </td>
                                        <td style="padding-left:1px; width:200px;">
                                            <small>Servicios a Ofrecer: </small>
                                            <small>
                                                @Html.DropDownListFor(m => m.GPrincipalRecurrencia.ServicioOfrecido, new List<SelectListItem> { },
                                            "--Select Option--", new { Id = "ServicioOfrecido", @class = "form-control input-sm", disabled = "true" })
                                                @Html.ValidationMessageFor(m => m.GPrincipalRecurrencia.ServicioOfrecido, "", new { @class = "text-danger" })
                                            </small>
                                        </td>
                                        <td style="padding-left:1px; width:200px;">
                                            <small>Aceptacion Servicio Ofrecido: </small>
                                            <small>
                                                @Html.DropDownListFor(m => m.GPrincipalRecurrencia.AceptacionServicioOfrecido, new List<SelectListItem> { },
                                            "--Select Option--", new { Id = "AceptacionServicioOfrecido", @class = "form-control input-sm", disabled = "true" })
                                                @Html.ValidationMessageFor(m => m.GPrincipalRecurrencia.AceptacionServicioOfrecido, "", new { @class = "text-danger" })
                                            </small>
                                        </td>
                                    </tr>
                                </table>
                        </div>
                        <h2 class="page-header" style="margin-top:40px">
                            <i class="fa fa-question"></i> Preguntas
                        </h2>
                        <div style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px; margin-top:-10px; margin-left: -10px; padding-right:10px;">
                            <br />
                            <table style="width:100%;">
                                <tr>
                                    <td  style="padding-left:1px; width:200px;">
                                        <small>¿Ubicación del Módem?: </small>
                                        @Html.DropDownListFor(m => m.GPrincipalRecurrencia.UbicacionModem, new List<SelectListItem> { },
                                           "--Select Option--", new { Id = "UbicacionModem", @class = "form-control input-sm", disabled = "true", onchange="setDispositivosInalam();" })
                                        @Html.ValidationMessageFor(m => m.GPrincipalRecurrencia.UbicacionModem, "", new { @class = "text-danger" })
                                    </td>
                                    <td style="padding-left:1px; width:200px;">
                                        <small>¿Dispositivos Inalámbricos Alrededor Módem?: </small>
                                        @Html.DropDownListFor(m => m.GPrincipalRecurrencia.DispositivosInalambricosAlrededorModem, new List<SelectListItem> { },
                                           "--Select Option--", new { Id = "DispositivosInalambricosAlrededorModem", @class = "form-control input-sm", disabled = "true", onchange = "setCantEquipos();" })
                                        @Html.ValidationMessageFor(m => m.GPrincipalRecurrencia.DispositivosInalambricosAlrededorModem, "", new { @class = "text-danger" })
                                    </td>
                                    <td style="padding-left:1px; width:200px;">
                                        <small>¿Cantidad Equipos que Conecta A Internet?: </small>
                                        @Html.DropDownListFor(m => m.GPrincipalRecurrencia.CantEquiposConecInternet, new List<SelectListItem> { },
                                           "--Select Option--", new { Id = "CantEquiposConecInternet", @class = "form-control input-sm", disabled = "true", onchange = "setTipoDisp();" })
                                        @Html.ValidationMessageFor(m => m.GPrincipalRecurrencia.CantEquiposConecInternet, "", new { @class = "text-danger" })
                                    </td>
                                    <td style="padding-left:1px; width:200px;">
                                        <small>¿Tipo de Dispositivo que Conecta a Internet?: </small>
                                        @Html.DropDownListFor(m => m.GPrincipalRecurrencia.TipoDispConectaInternet, new List<SelectListItem> { },
                                           "--Select Option--", new { Id = "TipoDispConectaInternet", @class = "form-control input-sm", disabled = "true", onchange = "setTipoDisp();" })
                                        @Html.ValidationMessageFor(m => m.GPrincipalRecurrencia.TipoDispConectaInternet, "", new { @class = "text-danger" })
                                    </td>
                                    <td style="padding-left:1px; width:200px;">
                                        <small>¿Uso que Brinda al Internet?: </small>
                                        @Html.DropDownListFor(m => m.GPrincipalRecurrencia.UsoBrindaInternet, new List<SelectListItem> { },
                                           "--Select Option--", new { Id = "UsoBrindaInternet", @class = "form-control input-sm", disabled = "true" })
                                        @Html.ValidationMessageFor(m => m.GPrincipalRecurrencia.UsoBrindaInternet, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <h2 class="page-header" style="margin-top:40px">
                            <i class="fa fa-tty"></i> Observaciones
                        </h2>
                        <div style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px; margin-top:-10px; margin-left: -10px; padding-right:10px;">
                            <br />
                                <table style="width:100%;">
                                    <tr>
                                        <td style="padding-left:1px; width:200px;">
                                            @Html.TextBoxFor(m => m.GPrincipalRecurrencia.Observaciones, new { id="Observaciones", @class = "form-control input-sm", @style = "margin-left:0px; width:100%; height:70px;" })
                                            @Html.ValidationMessageFor(m => m.GPrincipalRecurrencia.Observaciones, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                </table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" style="display:block;" class="btn btn-primary" name="BotonEnvia" value="GuardaDatos" id="BotonEnvia">Guardar</button>
    </div>
</div>
<button type="submit" style="display:none;" class="btn btn-primary" name="BotonEnvia" value="Buscar" id="BotonEnvia">Submit</button>
@section Scripts{
    <script>
        var urlMacroProcesoRecurrenciaList = '@Url.Action("MacroProcesoRecurrenciaList", "Recurrencia")';
        var urlContactoList = '@Url.Action("ContactoList", "Recurrencia")';
        var urlMacroProcesoList = '@Url.Action("MacroProcesoList", "Recurrencia")';
        var urlServicioAfectadoList = '@Url.Action("ServicioAfectadoList", "Recurrencia")';
        var urlFallaEspecificaList = '@Url.Action("FallaEspecificaList", "Recurrencia")';
        var urlFallaCausaRaizList = '@Url.Action("FallaCausaRaiz", "Recurrencia")';
        var urlSolucionEspecificaList = '@Url.Action("SolucionEspecifica", "Recurrencia")';
        var urlListSeguimientos = '@Url.Action("ListSeguimientos", "Recurrencia")';
        var urlListHistorialSeguimientos = '@Url.Action("ConsultaHistorialSeguimientoJson", "Recurrencia")';
        
        var DecisionHistorialSeguimientos = '@ViewBag.Display';




    </script>
@Scripts.Render("~/AdminLTEplugins/jquery-validate/js")
    <script src="~/Scripts/Recurrencia/Recurrencia.js?1.2.4"></script>
}
}



